<template>
  <b-container>
    <b-row class="mt-3">
      <b-col cols="12" lg="4">

        <h3 class="homework__title mb-3">{{homeworkTitle}}</h3>

        <b-row class="mb-3">
          <b-col cols="12">
            <b-form-select
              size="sm"
              v-model="subjectValue" :options="subjectOptions">
              <template slot="first">
                <option :value="null" disabled>Selecciona una matería...</option>
              </template>
            </b-form-select>
          </b-col>
        </b-row>

        <b-row v-show="!agenda.length && nameSubject">
          <b-col cols="12">
            <b-card>
              <p class="text-center">No hay temario para esta matería</p>
            </b-card>
          </b-col>
        </b-row>
        <!-- <pre>{{$data}}</pre> -->
        <b-row v-show="agenda.length">
          <b-col cols="12" class="homework__agenda__tree">
            <h6 class="mb-3 text-left">Temario {{nameSubject}}</h6>

            <div class="homework__agenda__tree__ol">
              <!-- Nivel 1 -->
              <div
                class="mb-1 homework__agenda__tree__ol__li"
                v-for="item in agenda"
                :key="item.title">
                <div
                  class="homework__agenda__tree__ol__li__group"
                  @click="titleAgenda(item.order, item.title)">
                  <span class="homework__agenda__tree__ol__li__group__number">{{item.order}}</span>
                  <span class="homework__agenda__tree__ol__li__group__text">{{item.title}}</span>
                </div>

                <!-- Nivel 2 -->
                <div
                  class="mb-1 homework__agenda__tree__ol__li homework__agenda__tree__ol__li__group--child"
                  v-for="item2 in item.child"
                  :key="item2.title">
                  <div
                    class="homework__agenda__tree__ol__li__group"
                    @click="titleAgenda(item2.order, item2.title)">
                    <span class="homework__agenda__tree__ol__li__group__number">{{item2.order}}</span>
                    <span class="homework__agenda__tree__ol__li__group__text">{{item2.title}}</span>
                  </div>

                  <!-- Nivel 3 -->
                  <div
                    class="mb-1 homework__agenda__tree__ol__li homework__agenda__tree__ol__li__group--child"
                    v-for="item3 in item2.child"
                    :key="item3.title">
                    <div
                      class="homework__agenda__tree__ol__li__group"
                      @click="titleAgenda(item3.order, item3.title)">
                      <span class="homework__agenda__tree__ol__li__group__number">{{item3.order}}</span>
                      <span class="homework__agenda__tree__ol__li__group__text">{{item3.title}}</span>
                    </div>

                    <!-- Nivel 4 -->
                    <div
                      class="mb-1 homework__agenda__tree__ol__li homework__agenda__tree__ol__li__group--child"
                      v-for="item4 in item3.child"
                      :key="item4.title">
                      <div
                        class="homework__agenda__tree__ol__li__group"
                        @click="titleAgenda(item4.order, item4.title)">
                        <span class="homework__agenda__tree__ol__li__group__number">{{item4.order}}</span>
                        <span class="homework__agenda__tree__ol__li__group__text">{{item4.title}}</span>
                      </div>

                      <!-- Nivel 5 -->
                      <div
                        class="mb-1 homework__agenda__tree__ol__li homework__agenda__tree__ol__li__group--child"
                        v-for="item5 in item4.child"
                        :key="item5.title">
                        <div
                          class="homework__agenda__tree__ol__li__group"
                          @click="titleAgenda(item5.order, item5.title)">
                          <span class="homework__agenda__tree__ol__li__group__number">{{item5.order}}</span>
                          <span class="homework__agenda__tree__ol__li__group__text">{{item5.title}}</span>
                        </div>


                      </div>

                    </div>

                  </div>

                </div>

              </div>

            </div>
          </b-col>
        </b-row>

      </b-col>


      <b-col cols="12" lg="8" class="mt-5">

        <b-row v-show="showToolsAgenda">
          <b-col cols="12">
            <b-alert show>
              <b class="mr-1">Tema {{subjectAgenda.order}} :</b>
              {{subjectAgenda.title}}
            </b-alert>
          </b-col>
        </b-row>

        <b-row v-show="showToolsAgenda">
          <b-col cols="12" lg="6">
            <h6>Tareas</h6>

            <homework-name :subject="subjectValue" :agendaTitle="subjectAgenda" :agenda="agenda" @homework="dataHomework"></homework-name>
          </b-col>

          <b-col cols="12" lg="6">
            <h6>Descripción Tarea</h6>

            <homework-description v-show="homework.id" :subject="subjectValue" :agendaTitle="subjectAgenda" :agenda="agenda" :homework="homework"></homework-description>
          </b-col>
        </b-row>

        <b-row v-show="showToolsAgenda">
          <b-col cols="12" lg="6">
            <h6>Fecha de Entrega</h6>

            <homework-date v-show="homework.id" :subject="subjectValue" :agendaTitle="subjectAgenda" :agenda="agenda" :homework="homework"></homework-date>
          </b-col>

          <b-col cols="12" lg="6">
            <h6>Método de Calificación</h6>

            <homework-qualification v-show="homework.id" :subject="subjectValue" :agendaTitle="subjectAgenda" :agenda="agenda" :homework="homework" :classroom="subjectClassroom"></homework-qualification>
          </b-col>
        </b-row>

      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import HomeworkName from './components/HomeworkName'
import HomeworkDescription from './components/HomeworkDescription'
import HomeworkDate from './components/HomeworkDate'
import HomeworkQualification from './components/HomeworkQualification'

import { appFirebase } from "@/config/firebase";

import { RenderAgenda } from '../Subject/mixins/RenderAgenda.js'

export default {
  components: {
    HomeworkName,
    HomeworkDescription,
    HomeworkDate,
    HomeworkQualification
  },

  props: ['homeworkTitle'],

  mixins: [RenderAgenda],

  created () {
    appFirebase
      .database()
      .ref(`/subject`)
      .orderByChild("teacher")
      .equalTo(this.$store.getters.getId)
      .on("value", data => {
        const collection = data.val();
        const options = [];

        if (collection) {
          for (const option of Object.keys(collection)) {
            options.push({
              value: option,
              text: collection[option].name,
              classroom: collection[option].classroom
                ? collection[option].classroom
                : null,
              notes: collection[option].notes ? collection[option].notes : null,
              agenda: collection[option].agenda ? collection[option].agenda : null
            });
          }

          this.subjectOptions = options;
        }
      });
  },

  data () {
    return {
      subjectValue: null,
      subjectOptions: [],
      subjectClassroom: [],

      subjectAgenda: {
        order: null,
        title: null
      },

      homework: {
        id: null,
        name: null,
        notes: null
      }
    }
  },

  watch: {
    subjectValue: {
      handler (val, oldVal) {
        this.subjectAgenda.order = null
        this.subjectAgenda.title = null

        for (const option of this.subjectOptions) {
        if (option.value === val) {
          this.subjectClassroom = option.classroom
          this.renderAgenda(option.agenda)

          this.$eventBus.$on('[HomeworkName]:resetData')
          break
        }
      }
      },
      deep: true
    }
  },

  computed: {
    nameSubject () {
      for (const option of this.subjectOptions) {
        if (this.subjectValue === option.value) return option.text;
      }
    },

    showToolsAgenda () {
      if (this.subjectAgenda.order && this.subjectAgenda.title) return true
      return false
    }
  },

  methods: {
    titleAgenda (order, title) {
      this.subjectAgenda.order = order
      this.subjectAgenda.title = title

      this.homework.id = null
      this.homework.name = null
      this.homework.notes = null
    },

    dataHomework (homework) {
      this.homework.id = homework.id
      this.homework.name = homework.name
      this.homework.notes = homework.notes
    }
  }

}
</script>

<style lang="sass" scoped>
  @import '../../assets/sass/main.sass'

  .homework
    +ele('title')
      text-transform: uppercase

      color: map-get($color-gray, g1)

    +ele('agenda')

      +ele('tree')
        height: 400px

        overflow-y: auto
        overflow-x: auto

        +ele('ol')

          +ele('li')
            width: 100%

            display: flex
            flex-wrap: wrap

            +ele('group')
              width: 100%

              display: flex

              cursor: pointer;

              &:hover
                color: map-get($color-red, r1)

              +ele('number')
                margin-right: 1em

              +ele('text')
                white-space: nowrap

                display: inline-block

              +mod('child')
                margin-left: 1.5em


</style>

