<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3"></div>

      <div class="col-md-6">

        <h2 class="login__title">Iniciar Sesión</h2>

        <b-form @submit.prevent="send()">
          <b-form-group
            id="grupoEmail"
            label="Email:"
            label-for="email"
            description="Ingresa tu email registrado y autorizado por el responsable a cargo"
            horizontal
            label-cols="2"
            breakpoint="md">
            <b-form-input
              id="email"
              type="email"
              v-model=form.email.value
              required
              :state=form.email.state
              aria-describedby="errorEmail">
            </b-form-input>
            <b-form-invalid-feedback id="errorEmail" >{{this.form.error}}</b-form-invalid-feedback>
          </b-form-group>

          <b-form-group
            id="grupoPassword"
            label="Contraseña:"
            label-for="password"
            description="Ingresa la contraseña registrada y autorizada por el responsable a cargo"
            horizontal
            label-cols="2"
            breakpoint="lg">
            <b-form-input
              id="password"
              type="password"
              v-model=form.password.value
              required
              :state=form.password.state
              aria-describedby="errorPassword">
            </b-form-input>
            <b-form-invalid-feedback id="errorPassword" >{{this.form.error}}</b-form-invalid-feedback>
          </b-form-group>

          <div class="text-center">
            <b-button type="submit" :variant="readyButton">Enviar</b-button>
            <b-button type="button" variant="link" class="login__buttons__new-account" @click="newAccount()">Nueva cuenta</b-button>
          </div>
        </b-form>

      </div>

      <div class="col-md-3"></div>
    </div>
    <!-- <pre>
      {{$data}}
    </pre> -->
  </div>
</template>

<script>
import { appFirebase } from "@/config/firebase";

export default {
  beforeRouteEnter(to, from, next) {
    next(vm => {
      if (vm.$store.getters.getUser.email) {
        //TODO: cambiar la ruta por una pagina home del usuario logueado ya que creará un LOOP
        vm.$router.push({ name: "SchoolCreate" });
      }
    });
  },

  data() {
    return {
      form: {
        email: {
          value: "",
          state: null
        },
        password: {
          value: "",
          state: null
        },
        error: ""
      }
    };
  },

  computed: {
    readyButton() {
      if (this.form.email.value.length && this.form.password.value.length)
        return "primary";
      else return "secondary";
    }
  },

  methods: {
    newAccount() {
      this.$router.push({ name: "AuthCreate" });
    },

    send() {
      appFirebase
        .auth()
        .signInWithEmailAndPassword(
          this.form.email.value,
          this.form.password.value
        )
        .then(async user => {
          this.form.email.state = true;
          this.form.password.state = true;

          try {
            const res = await appFirebase
              .database()
              .ref(`/ranks/${user.user.uid}`)
              .transaction(currentData => {
                if (currentData === null) {
                  return {
                    name: user.user.displayName,
                    email: user.user.email,
                    rank: "Pendiente"
                  };
                } else {
                  console.log("Usuario ya rankeado");
                  return;
                }
              });

            //TODO: Mover a otra página
            this.$router.push({ name: "School" });
          } catch (error) {
            console.error(error);
          }
        })
        .catch(error => {
          console.error(error);
          this.form.error = error.message;
          this.form.email.state = false;
          this.form.password.state = false;
        });
    }
  }
};
</script>

<style scoped>
.login__title {
  margin: 0.5em 0em 1em 0em;

  text-align: center;
}

.login__buttons__new-account {
  color: #dc3545;
}
</style>
