<template>
  <cu-template action="update">
    <template slot="school-institute" slot-scope="{institute}">
      <b-form-group
        id="groupInstitute"
        label="Escuela:"
        label-for="institute"
        description="Escuela a modificar"
        horizontal
        label-cols="2"
        breakpoint="md">
        <b-form-input
          id="institute"
          type="text"
          v-model=institute.value
          required
          :state=institute.state
          aria-describedby="errorInstitute"
          :readonly=readOnly>
        </b-form-input>
        <b-form-invalid-feedback id="errorInstitute" >{{institute.error}}</b-form-invalid-feedback>
      </b-form-group>
    </template>
  </cu-template>
</template>

<script>
import cuTemplate from "./templates/CU";

export default {
  components: {
    cuTemplate
  },

  props: ["schoolTitle", "access", "collection"],

  created() {
    if (!this.access) this.$router.push({ name: "SchoolCreate" });
    else this.$emit("schoolTitle", this.schoolTitle);
  },

  mounted() {
    if (typeof this.collection !== "undefined") {
      this.$eventBus.$emit("[SchoolCU]:collection", this.collection);
      this.$eventBus.$emit("[MenuForms]:createButton", true);
    }
  },

  data() {
    return {
      readOnly: true
    };
  }
};
</script>

