<template>
  <cu-template action="create">
    <template slot="school-institute">
      <b-form-group
        id="groupInstitute"
        label="Escuela:"
        label-for="institute"
        description="Una nueva escuela por ingresar :P"
        horizontal
        label-cols="2"
        breakpoint="md">
        <b-form-input
          id="institute"
          type="text"
          v-model=institute.value
          required
          :state=institute.state
          aria-describedby="errorInstitute">
        </b-form-input>
        <b-form-invalid-feedback id="errorInstitute" >{{institute.error}}</b-form-invalid-feedback>
      </b-form-group>
    </template>
  </cu-template>
</template>

<script>
import cuTemplate from "./templates/CU";

export default {
  components: {
    cuTemplate
  },

  props: ["schoolTitle"],

  created() {
    this.$emit("schoolTitle", this.schoolTitle);
  },

  mounted() {
    this.$eventBus.$on("[SchoolCreate]:institute_state", value => {
      this.institute.state = value.state;
      this.institute.error = value.error;
    });

    this.$eventBus.$on("[SchoolCreate]:institute_reset", () => {
      (this.institute.value = ""),
        (this.institute.state = null),
        (this.institute.error = null);
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[SchoolCreate]:institute_state");
    this.$eventBus.$off("[SchoolCreate]:institute_reset");
  },

  data() {
    return {
      institute: {
        value: "",
        state: null,
        error: null
      }
    };
  },

  watch: {
    institute: {
      handler(val, oldVal) {
        this.$eventBus.$emit("[SchoolCU]:institute_value", val.value);
      },

      deep: true
    }
  }
};
</script>

