<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3"></div>

      <div class="col-md-6">

        <table-school :database="table.database" :id="table.id" @removeData="removeCollection"></table-school>

        <delete-school :collection="modalDelete.collection" :id="modalDelete.id"></delete-school>

        <menu-school :idTable="table.id"></menu-school>

        <h2 class="school__title">{{title}}</h2>

        <router-view @schoolTitle="setTitle"></router-view>

      </div>

      <div class="col-md-3"></div>
    </div>
  </div>
</template>

<script>
import MenuSchool from "./components/Menu";
import TableSchool from "./components/Table";
import DeleteSchool from "./components/Delete";

import { appFirebase } from "@/config/firebase";

const database = appFirebase.database();

export default {
  components: {
    MenuSchool,
    TableSchool,
    DeleteSchool
  },

  mounted() {
    this.$eventBus.$on("[School]:deleteCollection", id => {
      database.ref(`/school/${id}`).remove();

      this.$eventBus.$emit("[ModalDelete]:showHide", false);
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[School]:deleteCollection");
  },

  data() {
    return {
      title: null,
      table: {
        database: database.ref("/school"),
        id: "modalTableSchool"
      },
      modalDelete: {
        collection: null,
        id: "modalDeleteTableSchool"
      }
    };
  },

  methods: {
    setTitle(data) {
      this.title = data;
    },

    removeCollection(collection) {
      this.modalDelete.collection = collection;

      this.$eventBus.$emit("[ModalDelete]:showHide", true);
    }
  }
};
</script>

<style scoped>
.school__title {
  margin: 0.5em 0em 1em 0em;

  text-align: center;
}
</style>
