<template>
  <b-modal
    id="modalTeam"
    ref="modalTeam"
    centered
    size="lg"
    :title='`Gestionar equipos "${homework.name ? homework.name : "S/N"}"`'
    :no-close-on-backdrop=true
    ok-title="Enviar"
    ok-variant="success"
    cancel-variant="primary"
    cancel-title="Salir"
    @ok="okTeam"
    @cancel="cancelTeam"
    @shown="clearTeam">

    <b-row>
      <b-col cols="4">
        <b-form-select
          size="sm"
          v-model="classroomSelected"
          :options="classroomOptions">
          <template slot="first">
            <option :value="null" disabled>Lista de salones...</option>
          </template>
        </b-form-select>
      </b-col>

      <b-col cols="4">
        <b-form-input
          id="teamNumber"
          type="number"
          size="sm"
          :disabled="!classroomSelected"
          v-model=team.number
          required
          placeholder="# Integrantes por equipo">
        </b-form-input>
      </b-col>

      <b-col cols="4">
        <b-form-radio-group
          v-model="teamMode"
          :options="team.mode"
          name="modeTeam">
        </b-form-radio-group>
      </b-col>
    </b-row>

    <!-- <pre>{{$data.teams}}</pre> -->

    <b-row class="mt-3">
      <b-col cols="4">
        <b-row>
          <b-col cols="12">
            <b-form-select
              :class="{'homework__qualification__list' : teamMode === 'me'}"
              size="sm"
              :select-size="10"
              :options="students.list"
              v-model="studentSelected">
              <template slot="first">
                <option :value="null" disabled>Lista de alumnos...</option>
              </template>
            </b-form-select>
          </b-col>
        </b-row>

        <b-row class="mt-3">
          <b-col cols="12">
            <b-alert :show="alert.dismissCountDown"
              dismissible
              :variant="alert.variant"
              @dismissed="alert.dismissCountDown=0"
              @dismiss-count-down="countDownChanged">
              <p class="homework__qualification__alert__text">{{alert.message}}</p>
              <small class="homework__qualification__alert__timer">Cerrando en {{alert.dismissCountDown}} seg.</small>
            </b-alert>
          </b-col>
        </b-row>
      </b-col>

      <b-col
        cols="8">
        <b-row class="mb-3">
          <b-col cols="4">
            <b-button
              v-show="teamMode === 'random'"
              size="sm"
              variant="danger"
              @click="buildRandom()">
              Generar Equipos
            </b-button>
          </b-col>

          <b-col cols="6">
            <b-form-checkbox
              v-show="teamMode === 'random'"
              id="surprise"
              v-model="surprise"
              value="accepted"
              unchecked-value="not_accepted">
              Modo Sorpresa
            </b-form-checkbox>
          </b-col>
        </b-row>

        <b-row v-if="teamMode === 'me'">
          <b-col
            cols="12"
            class="homework__qualification__cards-teams homework__qualification__cards-teams--me">
            <b-card
              :border-variant="teamSelected === key ? 'info' : 'dark'"
              :header="key | numberTeam"
              :header-bg-variant="teamSelected === key ? 'info' : 'dark'"
              header-text-variant="white"
              align="center"
              class="mb-3 homework__qualification__cards-teams__card"
              v-for="(team, key) in teams"
              :key="key"
              @click="teamSelected = key">
              <b-list-group
                v-for="item in team"
                :key="item.value"
                class="homework__qualification__cards-teams__card__group">
                <b-list-group-item
                  class="homework__qualification__cards-teams__card__group__item homework__qualification__cards-teams__card__group__item--remove"
                  @click="removeStudentOfTeam(key, item)">
                  {{item.text}}
                </b-list-group-item>
              </b-list-group>
            </b-card>
          </b-col>
        </b-row>

        <b-row v-if="teamMode === 'random'">
          <b-col
            cols="12"
            class="homework__qualification__cards-teams">
            <b-card
              :ref="key"
              border-variant="info"
              :header="key | numberTeam"
              header-bg-variant="info"
              header-text-variant="white"
              align="center"
              :class="{'homework__qualification__cards-teams__card--surprise': surprise === 'accepted'}"
              class="mb-3 homework__qualification__cards-teams__card"
              v-for="(team, key) in teams"
              :key="key"
              @click="removeSurprise(key)">
                <h6
                  ref="titleSurprise"
                  v-show="surprise === 'accepted'"
                  class="homework__qualification__cards-teams__card--surprise-title">
                    {{key | numberTeam}}
                </h6>
                <b-list-group
                  v-for="item in team"
                  :key="item.value"
                  class="homework__qualification__cards-teams__card__group">
                  <b-list-group-item class="homework__qualification__cards-teams__card__group__item">
                    {{item.text}}
                  </b-list-group-item>
                </b-list-group>
            </b-card>
          </b-col>
        </b-row>

        <b-row v-if="renderTeamsCards">
          <b-col
            cols="12"
            class="homework__qualification__cards-teams">
            <b-card
              :ref="key"
              border-variant="secondary"
              :header="key | numberTeam"
              header-bg-variant="secondary"
              header-text-variant="white"
              align="center"
              class="mb-3 homework__qualification__cards-teams__card"
              v-for="(team, key) in teamsOld"
              :key="key">
                <b-list-group
                  v-for="item in team"
                  :key="item.value"
                  class="homework__qualification__cards-teams__card__group">
                  <b-list-group-item class="homework__qualification__cards-teams__card__group__item">
                    {{item.text}}
                  </b-list-group-item>
                </b-list-group>
            </b-card>
          </b-col>
        </b-row>
      </b-col>
    </b-row>

  </b-modal>
</template>

<script>
import { appFirebase } from "@/config/firebase";

import { Random } from '@/tools/tools.js'

import { qualificationCards } from '../mixins/qualificationCards.js'

import { TreeAgenda } from '../../Subject/mixins/TreeAgenda.js'

import _ from 'lodash'

export default {
  mixins: [qualificationCards, TreeAgenda],

  mounted() {
    this.$eventBus.$on("[HomeworkQualificationTeam]:stateModal", data => {
      this.homework = data.homework
      this.classroom = data.classroom
      this.agenda = data.agenda
      this.agendaTitle = data.agendaTitle
      this.subject = data.subject

      this.classroomOptions = []
      this.classroomSelected = null

      for (const option of Object.keys(this.classroom)) {
        appFirebase
          .database()
          .ref("/classroom")
          .orderByKey()
          .equalTo(option)
          .once("value", data => {
            const collection = data.val();

            if (collection) {
              for (const option of Object.keys(collection)) {
                this.classroomOptions.push({
                  value: option,
                  text: collection[option].name,
                  students: collection[option].students ? collection[option].students : null
                });
              }
            }
          });
      }

      if (data.state) this.$refs.modalTeam.show();
      else this.$refs.modalTeam.hide();
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[HomeworkQualificationTeam]:stateModal");
  },

  data() {
    return {
      surprise: null,

      subject: null,
      agenda: [],
      agendaTitle: null,

      homework: {},

      classroom: [],
      classroomOptions: [],
      classroomSelected: null,

      studentSelected: null,

      students: {
        list: [
          // {value:'id1', text: 'Joaquin'},
          // {value:'id2', text: 'Laura'},
          // {value:'id3', text: 'Jazmin'},
          // {value:'id4', text: 'Paco'},
          // {value:'id5', text: 'Roberto'},
          // {value:'id6', text: 'Martha'},
          // {value:'id7', text: 'Gustavo'},
          // {value:'id8', text: 'Frida'},
          // {value:'id9', text: 'Marìa'},
          // {value:'id10', text: 'Jose'},
          // {value:'id11', text: 'Fermìn'},
          // {value:'id12', text: 'Luís'},
          // {value:'id13', text: 'Francisco'},
          // {value:'id14', text: 'Karen'},
          // {value:'id15', text: 'Karla'},
          // {value:'id16', text: 'Ana'},
          // {value:'id17', text: 'Ulises'},
          // {value:'id18', text: 'Daniel'},
          // {value:'id19', text: 'Santiago'},
          // {value:'id20', text: 'Jenifer'},
          // {value:'id21', text: 'Rocío'},
          // {value:'id22', text: 'Omar'},
          // {value:'id23', text: 'Javier'},
          // {value:'id24', text: 'Samuel'},
          // {value:'id25', text: 'Itzel'},
          // {value:'id26', text: 'Hideko'},
          // {value:'id27', text: 'Ines'},
          // {value:'id28', text: 'Yaraset'},
          // {value:'id29', text: 'Alethia'},
          // {value:'id30', text: 'Patricio'},
          // {value:'id31', text: 'Mauricio'},
          // {value:'id32', text: 'Sonya'},
          // {value:'id33', text: 'Gabriel'},
        ]
      },

      teamMode: null,
      teamSelected: null,
      teams: {},
      teamsOld: {},
      renderTeamsCards: false,

      team: {
        number: null,
        mode: [
          { text: 'Aleatorio', value: 'random', disabled: true},
          { text: 'Yo elijo', value: 'me', disabled: true }
        ]
      },

      alert: {
        dismissSecs: 7,
        dismissCountDown: 0,
        showDismissibleAlert: false,
        message: null,
        variant: null
      }
    };
  },

  watch: {
    surprise (val, oldVal) {
      if (this.$refs.titleSurprise) {
        for (const title of this.$refs.titleSurprise) {
          title.classList.remove('homework__qualification__cards-teams__card--surprise-complete__title')
        }
      }
    },

    teamSelected (val, oldVal) {
      this.studentSelected = null
    },

    teamMode (val, oldVal) {
      this.teams = []
      if (val === 'me') this.buildMe()
    },

    classroomSelected (val, oldVal) {
      this.teamMode = null
      this.teams = {}
      this.studentSelected = null
      this.team.number = null
      this.students.list = []

      new Promise (async resolve => {
        for (const students of this.classroomOptions) {
          if (students.value === this.classroomSelected) {
            await this.listStudent(students.students)
            break
          }
        }

        resolve()
      })
        .then(() => this.renderTeams())

      if (val && this.team.number) {
        if (this.team.number > this.students.list.length) {
          this.alert.variant = 'danger'
          this.alert.message = `No hay suficientes alumnos como para formar ${val.number} equipos`;

          this.alert.dismissCountDown = this.alert.dismissSecs;

          this.team.mode[0].disabled = true
          this.team.mode[1].disabled = true
        } else {
          this.team.mode[0].disabled = false
          this.team.mode[1].disabled = false
        }
      } else {
        this.team.mode[0].disabled = true
        this.team.mode[1].disabled = true
      }
    },

    team: {
      handler (val, oldVal) {
        this.teamMode = null
        this.studentSelected = null

        if (val.number) {
          if (val.number > this.students.list.length) {
            this.alert.variant = 'danger'
            this.alert.message = `No hay suficientes alumnos como para formar ${val.number} equipos`;

            this.alert.dismissCountDown = this.alert.dismissSecs;

            this.team.mode[0].disabled = true
            this.team.mode[1].disabled = true
          } else {
            if (this.classroomSelected) {
              if (val.number > this.students.list.length) {
                this.alert.variant = 'danger'
                this.alert.message = `No hay suficientes alumnos como para formar ${val.number} equipos`;

                this.alert.dismissCountDown = this.alert.dismissSecs;
                this.team.mode[0].disabled = true
                this.team.mode[1].disabled = true
              } else {
                this.team.mode[0].disabled = false
                this.team.mode[1].disabled = false
              }
            } else {
              this.team.mode[0].disabled = true
              this.team.mode[1].disabled = true
            }
          }
        } else {
          this.team.mode[0].disabled = true
          this.team.mode[1].disabled = true
        }
      },
      deep: true
    },

    studentSelected (val, oldVal) {
      if (this.teamMode === 'me' && this.teamSelected) {
        for (const [index, list] of this.students.list.entries()) {
          if (list.value === val) {
            let continuePush = {state: true}

            for (const teamKey of Object.keys(this.teams)) {
              for (const teamStudent of this.teams[teamKey]) {
                if (teamStudent.value === val) {
                  continuePush.state = false
                  continuePush['team'] = teamKey
                  break
                }
              }
            }

            if (continuePush.state) {
              this.teams[this.teamSelected].push(list)
              this.students.list[index]['disabled'] = true

              const students = this.students.list.slice()
              this.students.list = students
            } else {
              this.alert.variant = 'danger'
              this.alert.message = `${list.text} se encuentra en el equipo ${continuePush.team.split('_').pop()}`;

              this.alert.dismissCountDown = this.alert.dismissSecs;
            }
            break
          }
        }
      }
    }
  },

  methods: {
    countDownChanged(dismissCountDown) {
      this.alert.dismissCountDown = dismissCountDown;
    },

    removeSurprise (key) {
      for (const card of this.$refs[key]) {
        card.classList.add('homework__qualification__cards-teams__card--surprise-complete')

        const title = card.childNodes[1].childNodes[0]
        title.classList.add('homework__qualification__cards-teams__card--surprise-complete__title')

        setTimeout(() => {
          card.classList.remove('homework__qualification__cards-teams__card--surprise')
          card.classList.remove('homework__qualification__cards-teams__card--surprise-complete')
        }, 1000)
      }
    },

    renderTeams () {
      this.renderTeamsCards = false
      this.teamsOld = {}

      const tree = this.getAgenda(
        this.agendaTitle.title,
        this.agenda,
        `/subject/${this.subject}/agenda/`,
        1)

      appFirebase
        .database()
        .ref(`${tree}homework/${this.homework.id}/qualification/${this.classroomSelected}`)
        .once('value', data => {
          const collection = data.val()

          if (collection) {
            const teams = {}

            for (const team of Object.keys(collection)) {
              teams[team] = []

              for (const student of collection[team]) {
                for (const list of this.students.list) {
                  if (list.value === student) {
                    teams[team].push(list)
                    break
                  }
                }
              }
            }

            this.teamsOld = teams
            this.renderTeamsCards = true
          }
        })
    },

    async listStudent (students) {
      for (const student of Object.keys(students)) {
        await appFirebase
          .database()
          .ref('/ranks')
          .orderByKey()
          .equalTo(student)
          .once('value', data => {
            const collection = data.val()

            if (collection) {
              for (const student of Object.keys(collection)) {
                this.students.list.push({value: student, text: collection[student].name})
              }
            }
          })
      }
    },

    cancelTeam () {
      this.$emit('resetRadios', true)
    },

    async okTeam(evt) {
      const firebaseTeam = {}

      evt.preventDefault();

      for (const team of Object.keys(this.teams)) {
        firebaseTeam[team] = []

        for (const student of this.teams[team]) firebaseTeam[team].push(student.value)
      }

      let counterFirebaseTeams = 0

      for (const team of Object.keys(firebaseTeam))
        if (firebaseTeam[team].length) counterFirebaseTeams++

      if (counterFirebaseTeams > 0) {
        try {
          const tree = this.getAgenda(
            this.agendaTitle.title,
            this.agenda,
            `/subject/${this.subject}/agenda/`,
            1)

          const response1 = await appFirebase
            .database()
            .ref(`${tree}homework/${this.homework.id}/qualification/${this.classroomSelected}`)
            .remove()

          const response2 = await appFirebase
            .database()
            .ref(`${tree}homework/${this.homework.id}/qualification/${this.classroomSelected}`)
            .set(firebaseTeam)

          this.clearTeam()

          this.alert.variant = 'success'
          this.alert.message = `Se ha agregado el método de calificación`;

          this.alert.dismissCountDown = this.alert.dismissSecs;

        } catch (error) {
          console.error(error)
        }
      } else {
        this.alert.variant = 'warning'
        this.alert.message = `No se puede enviar la información si no existe al menos 1 equipo creado`;

        this.alert.dismissCountDown = this.alert.dismissSecs;
      }
    },

    clearTeam() {
      this.classroomSelected = null
      this.teamMode = null
      this.team.number = null
      this.teams = {}
      this.surprise = null
    },

    buildRandom () {
      this.renderTeamsCards = false

      if (this.surprise === 'accepted' && this.$refs.titleSurprise) {
        for (let i = 1; i <= this.team.number; ++i) {
          if (this.$refs[`team_${i}`].length) {
            this.$refs[`team_${i}`][0].classList.add('homework__qualification__cards-teams__card--surprise')
          }
        }

        for (const title of this.$refs.titleSurprise) {
          title.classList.remove('homework__qualification__cards-teams__card--surprise-complete__title')
        }
      }

      this.studentSelected = null
      this.teamSelected = null

      let copyStudents = this.students.list.slice()
      let shuffleStudents = _.shuffle(copyStudents)

      const evenTeams = this.students.list.length % this.team.number
      const teams = {}

      if (!evenTeams) {

        for (let i = 1; i <= this.team.number; ++i) {
          teams[`team_${i}`] = []

          for (let j = 1; j <= (this.students.list.length / this.team.number); ++j) {
            let totalTeams = shuffleStudents.length / this.team.number

            const randomNumber = Random.basic(totalTeams)

            teams[`team_${i}`].push(shuffleStudents[randomNumber])

            shuffleStudents.splice(randomNumber, 1)

            shuffleStudents = _.shuffle(shuffleStudents)
          }
        }

        this.teams = teams

      } else {
        for (let i = 1; i <= this.team.number; ++i) {
          teams[`team_${i}`] = []

          for (let j = 1; j <= (this.students.list.length / this.team.number); ++j) {
            let totalTeams = shuffleStudents.length / this.team.number

            const randomNumber = Random.basic(totalTeams)

            teams[`team_${i}`].push(shuffleStudents[randomNumber])

            shuffleStudents.splice(randomNumber, 1)

            shuffleStudents = _.shuffle(shuffleStudents)
          }
        }

        // Agregar aleatoriamente los estudiantes faltantes a un equipo ya conformado

        // console.log('Los equipos deben de ser equilibrados, faltan ' + evenTeams + ' estudiantes')

        let addTeam = []

        for (let i = 1; i <= evenTeams; ++i) {
          let totalTeams = shuffleStudents.length / this.team.number

          let randomTeam = Random.basic(this.team.number)
          const randomNumber = Random.basic(totalTeams)

          while (addTeam.includes(randomTeam + 1)) randomTeam = Random.basic(this.team.number)

          teams[`team_${randomTeam + 1}`].push(shuffleStudents[randomNumber])

          shuffleStudents.splice(randomNumber, 1)

          shuffleStudents = _.shuffle(shuffleStudents)

          addTeam.push(randomTeam + 1)
        }

        this.teams = teams
      }
    },

    buildMe () {
      this.renderTeamsCards = false

      if (Object.keys(this.teamsOld).length === parseInt(this.team.number)) {

        for (const [key, student] of this.students.list.entries()) {
          for (const oldTeam of Object.keys(this.teamsOld)) {
            for (const oldStudent of this.teamsOld[oldTeam]) {
              if (student.value === oldStudent.value) {
                this.students.list[key].disabled = true
                break
              }
            }
          }
        }

        const studentsCopy = this.students.list.slice()
        this.students.list = studentsCopy

        this.teams = this.teamsOld
      } else {
        this.teams = {}

        for (const [key, student] of this.students.list.entries()) {
          for (const oldTeam of Object.keys(this.teamsOld)) {
            for (const oldStudent of this.teamsOld[oldTeam]) {
              if (student.value === oldStudent.value) {
                this.students.list[key].disabled = false
                break
              }
            }
          }
        }

        const studentsCopy = this.students.list.slice()
        this.students.list = studentsCopy

        for (let i = 1; i <= this.team.number; ++i) this.teams[`team_${i}`] = []
      }

      this.teamSelected = null
    },

    removeStudentOfTeam (team, student) {
      const teamsCopy = this.teams

      for (const [key, studentTeams] of this.teams[team].entries()) {
        if (student.value === studentTeams.value) {
          teamsCopy[team].splice(key, 1)
          break
        }
      }

      for (const [key, list] of this.students.list.entries()) {
        if (list.value === student.value) {
          this.students.list[key].disabled = false

          const studentsCopy = this.students.list.slice()
          this.students.list = studentsCopy
          break
        }
      }

      this.teams = []
      this.teams = teamsCopy
    }
  }
};
</script>

<style lang="sass" scoped>
  @import '../../../assets/sass/main.sass'

  .homework
    +ele('qualification')

      +ele('list')
        background: map-get($color-bootstrap, b2)
        color: #fff

      +ele('alert')

        +ele('text')
          padding: 0
          margin: 0

          font-size: 13px
          font-weight: bold

          text-align: center

        +ele('timer')
          width: 100%

          display: inline-block

          font-size: 11px
          text-align: center

      +ele('cards-teams')
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center

        +mod('me')
          .card-header
            cursor: pointer

        +ele('card')
          width: 49%

          .card-body
            padding: 0
            padding-top: .5em

          +mod('surprise')
            transform: rotateY(180deg)

            cursor: pointer

            transition: all 500ms ease

            &:before
              z-index: 10

              content: ''

              width: 100%
              height: 100%

              position: absolute
              top: 0
              left: 0

              background: map-get($color-blue, b1)

              transition: all 500ms ease

          +mod('surprise-complete')
            transform: rotateY(0deg)

            &:before
              background: transparent

            +ele('title')
              display: none

          +mod('surprise-title')
            transform: rotateY(180deg)

            z-index: 10

            width: 100%

            // margin-top: 2em

            font-size: 24px

            position: absolute
            top: 50%
            left: 0%

            color: #ffff

          +ele('group')
            padding: 0
            margin-bottom: .5em

            +ele('item')
              padding: .5em

              font-size: 13px

              text-align: left

              +mod('remove')
                cursor: pointer

                &:hover
                  background-color: map-get($color-red, r1)
                  color: white

</style>

