<template>
  <b-modal
    centered
    header-bg-variant="light"
    header-text-variant="danger"
    body-bg-variant="light"
    footer-bg-variant="light"
    id="modalIndividual"
    ref="modalIndividual"
    :no-close-on-backdrop=true
    :title='`Gestionar individual "${homework.name ? homework.name : "S/N"}"`'
    @ok="okIndividual"
    @cancel="cancelIndividual">
    <b-alert show variant="light">
      <p class="text-danger">
        <b>¿Deseas usar el método individual?</b>... Este método significa que cada estudiante será calificado de forma individual por lo que las métricas de evaluación serán únicas para cada usuario y no compartidas como en el método por equipos
      </p>

      <ul class="text-danger">
        <li><b>¡Importante!... Perderás toda la información del método por equipos.</b></li>
      </ul>

      <p class="text-danger">
        Da click en Ok si deseas continuar agregando este método individual o cancelar para no aplicar cambios.
      </p>
    </b-alert>
  </b-modal>
</template>

<script>
import { appFirebase } from "@/config/firebase";

import { TreeAgenda } from '../../Subject/mixins/TreeAgenda.js'

export default {
  mixins: [TreeAgenda],

  mounted() {
    this.$eventBus.$on("[ModalHomeworkQualificationIndividual]:stateModal", data => {
      this.homework = data.homework
      this.agenda = data.agenda
      this.agendaTitle = data.agendaTitle
      this.subject = data.subject

      if (data.state) this.$refs.modalIndividual.show();
      else this.$refs.modalIndividual.hide();
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[ModalHomeworkQualificationIndividual]:stateModal");
  },

  data() {
    return {
      subject: null,
      agenda: [],
      agendaTitle: null,

      homework: {},
    };
  },

  methods: {
    cancelIndividual () {
      this.$emit('resetRadios', true)
    },

    async okIndividual(evt) {
      this.$emit('resetRadios', true)

      try {
        const tree = this.getAgenda(
            this.agendaTitle.title,
            this.agenda,
            `/subject/${this.subject}/agenda/`,
            1)

        const response1 = await appFirebase
            .database()
            .ref(`${tree}homework/${this.homework.id}/qualification`)
            .remove()

        const response2 = await appFirebase
          .database()
          .ref(`${tree}homework/${this.homework.id}`)
          .update({
            qualification: 'individual'
          })

        this.$refs.modalIndividual.hide();
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>
