<template>
  <div>
    <homework-name-new></homework-name-new>
    <homework-name-update></homework-name-update>
    <homework-name-delete @resetHomework="resetHomework()"></homework-name-delete>

    <b-form-group
      class="mt-4 mb-4"
      description="Selecciona una tarea de tu lista privada o creala para gestionarla">

      <b-row
        v-show="homeworkValue"
        class="text-right mb-2">
        <b-col cols="12">
          <b-button
            size="sm"
            class="mr-3"
            variant="warning"
            @click="modalForm('HomeworkNameUpdate')">
            <i class="fas fa-edit homework__origin__update"></i>
          </b-button>

          <b-button
            size="sm"
            class="mr-3"
            variant="danger"
            @click="modalForm('HomeworkNameDelete')">
            <i class="fas fa-trash-alt homework__origin__remove"></i>
          </b-button>
        </b-col>
      </b-row>
      <!-- <pre>{{homeworkOptions}}</pre> -->
      <b-row>
        <b-col cols="8">
          <b-form-select
            size="sm"
            v-model="homeworkValue"
            :options="homeworkOptions">
            <template slot="first">
              <option
                :value="null"
                disabled>
                Selecciona una tarea
              </option>
            </template>
          </b-form-select>
        </b-col>

        <b-col cols="4">
          <b-button
            size="sm"
            variant="primary"
            @click="modalForm('HomeworkNameNew')">
            Nueva Tarea
          </b-button>
        </b-col>
      </b-row>
    </b-form-group>
  </div>
</template>

<script>
import HomeworkNameNew from './HomeworkNameNew'
import HomeworkNameUpdate from './HomeworkNameUpdate'
import HomeworkNameDelete from './HomeworkNameDelete'

import { appFirebase } from "@/config/firebase";

import { TreeAgenda } from '../../Subject/mixins/TreeAgenda.js'

export default {
  props: ['subject', 'agenda', 'agendaTitle'],

  components: {
    HomeworkNameNew,
    HomeworkNameUpdate,
    HomeworkNameDelete
  },

  mixins: [TreeAgenda],

  mounted () {
    this.$eventBus.$on('[HomeworkName]:resetData', () => {
      this.homeworkValue = null
      this.homeworkOptions = null
    })

    this.$eventBus.$on('[HomeworkName]:touchHomeworkValue', () => {
      for (const option of this.homeworkOptions) {
        if (option.value === this.homeworkValue) {
          this.$emit('homework', {id: this.homeworkValue, name: option.text, notes: option.notes})
          break
        }
      }
    })
  },

  beforeDestroy () {
    this.$eventBus.$off('[HomeworkName]:resetData')
    this.$eventBus.$off('[HomeworkName]:touchHomeworkValue')
  },

  data () {
    return {
      homeworkValue: null,
      homeworkOptions: []
    }
  },

  watch: {
    homeworkValue (val, oldVal) {
      if (val) {
        for (const option of this.homeworkOptions) {
          if (option.value === val) {
            this.$emit('homework', {id: val, name: option.text, notes: option.notes})
            this.$eventBus.$emit('[HomeworkDate]:setDate', option.date)

            break
          }
        }
      }
    },

    agendaTitle: {
      handler (val, oldVal) {
        if (val.title) {
          this.chargeSelect(val.title)
        }
      },

      deep: true
    }
  },

  methods: {
    chargeSelect (title) {
      this.homeworkValue = null

      const tree = this.getAgenda(
          title,
          this.agenda,
          `/subject/${this.subject}/agenda/`,
          1)

      appFirebase
        .database()
        .ref(tree)
        .on('value', data => {
          const collection = data.val()

          this.homeworkOptions = []

          const homeworkItems = []

          if (collection) {
            if (collection.homework) {
              for (const homework of Object.keys(collection.homework)) {
                homeworkItems.push({
                  value: homework,
                  text: collection.homework[homework].name,
                  notes: collection.homework[homework].notes ? collection.homework[homework].notes : null,
                  date: collection.homework[homework].date ? collection.homework[homework].date : null
                })
              }
            }
          }

          this.homeworkOptions = homeworkItems
        })
    },

    modalForm (modal) {
      if (modal === 'HomeworkNameUpdate' || modal === 'HomeworkNameDelete') {
        let name = {
          id: this.homeworkValue
        }

        for (const option of this.homeworkOptions) {
          if (option.value === this.homeworkValue)
            name['name'] = option.text
        }

        this.$eventBus.$emit(`[${modal}]:stateModal`, {subject: this.subject, agenda: this.agenda, agendaTitle: this.agendaTitle, name, state: true})
      } else {
        this.$eventBus.$emit(`[${modal}]:stateModal`, {subject: this.subject, agenda: this.agenda, agendaTitle: this.agendaTitle, state: true})
      }
    },

    resetHomework () {
      this.homeworkValue = null;
    }
  }
}
</script>

<style lang="sass" scoped>
  @import '../../../assets/sass/main.sass'

  .homework
    +ele('origin')
      +ele('update')
        font-size: 1.2em

        color: white

      +ele('remove')
        font-size: 1.2em
</style>

