<template>
  <b-modal
    centered
    id="modalDescription"
    ref="modalDescription"
    :title='`Descripción de la tarea "${homework.name ? homework.name : "S/N"}"`'
    @ok="okDescription"
    @shown="clearDescription">

    <form @submit.stop.prevent="okDescription">
      <b-form-group>
        <b-form-textarea id="description"
          v-model="description.value"
          :rows="3"
          :max-rows="6"
          :state="description.state"
          placeholder="Ingresa alguna nota para esta matería"
          aria-describedby="errorNotes">
        </b-form-textarea>
        <b-form-invalid-feedback id="errorNotes" >{{description.error}}</b-form-invalid-feedback>
      </b-form-group>
    </form>
  </b-modal>
</template>

<script>
import { ValidatorMethods } from "@/tools/validator";

import { appFirebase } from "@/config/firebase";

import { TreeAgenda } from '../../Subject/mixins/TreeAgenda.js'

export default {
  mixins: [TreeAgenda],

  mounted() {
    this.$eventBus.$on("[HomeworkDescriptionAdd]:stateModal", data => {
      if (data.subject) {
        this.action = "new";

        this.subject = data.subject;
        this.agenda = data.agenda;
        this.agendaTitle = data.agendaTitle
        this.homework = data.homework

        const tree = this.getAgenda(
            this.agendaTitle.title,
            this.agenda,
            `/subject/${this.subject}/agenda/`,
            1)

        if (tree) {
          appFirebase
            .database()
            .ref(`${tree}homework/${this.homework.id}/`)
            .on("value", data => {
              const collection = data.val();

              if (collection) {
                if (collection.notes) {
                  this.action = "update";

                  this.description.value = collection.notes;
                }
              }
            });
        }

      }

      if (data.state) this.$refs.modalDescription.show();
      else this.$refs.modalDescription.hide();
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[HomeworkDescriptionAdd]:stateModal");
  },

  data() {
    return {
      action: "new",

      subject: null,

      agenda: [],
      agendaTitle: {},

      homework: {},

      description: {
        value: '',
        state: null,
        error: null,
        validator: {
          type: "text",
          min: 3,
          max: 300
        }
      }
    };
  },

  methods: {
    SubjectValidator(mode, value, type, min, max) {
      let val = ValidatorMethods[mode](value, type, min, max);

      return val;
    },

    okDescription(evt) {
      const { validator } = this.description;

      evt.preventDefault();

      const val = this.SubjectValidator(
        "basicMainOptionalEmpty",
        this.description.value,
        validator.type,
        validator.min,
        validator.max
      );

      if (val) {
        this.description.error = val;
        this.description.state = false;
      } else {
        this.description.error = null;
        this.description.state = true;

        this.sendDescription();
      }
    },

    clearDescription() {
      if (this.action === "new") this.description.value = '';
      this.description.error = null;
      this.description.state = null;
    },

    async sendDescription() {
      if (this.homework.id) {
        const tree = this.getAgenda(
            this.agendaTitle.title,
            this.agenda,
            `/subject/${this.subject}/agenda/`,
            1)

        if (tree) {
          try {
            const response = await appFirebase
              .database()
              .ref(`${tree}homework/${this.homework.id}/`)
              .update({
                notes: this.description.value
              });

            this.$refs.modalDescription.hide();
            this.$eventBus.$emit('[HomeworkName]:touchHomeworkValue')
          } catch (error) {
            console.error(error);
            switch (error.code) {
              default:
                this.description.error =
                  "Error del sistema... No se pudo crear la nota para esta tarea";
                this.description.state = false;
            }
          }
        }
      } else console.error('necesitas seleccionar una tarea')
    }
  }
};
</script>
