<template>
  <div>
    <homework-qualification-team @resetRadios="resetRadios"></homework-qualification-team>
    <homework-qualification-individual @resetRadios="resetRadios"></homework-qualification-individual>

    <b-form
      class="mt-4 mb-4"
      description="Selecciona un método para calificar esta tarea. Individual para tareas y evaluaciones independientes. Equipos para tareas y evaluaciones compartidas por X cantidad de alumnos">

      <b-row class="text-center" align-h="center">
        <b-col cols="3">
          <b-button
            size="sm"
            variant="info"
            @click="qualificationIndividual()">
            Individual
          </b-button>
        </b-col>
        <b-col cols="3">
          <b-button
            size="sm"
            variant="info"
            @click="qualificationTeams()">
            Equipos
          </b-button>
        </b-col>
        <!-- <b-col cols="12"> -->
          <!-- <b-form-radio-group
            v-model="qualification.value"
            :options="qualification.options"
            name="qualificationRadios">
          </b-form-radio-group> -->
        <!-- </b-col> -->
      </b-row>

      <b-row v-show="Object.keys(teams).length" class="mt-3">
        <b-col cols="12" class="homework__qualification__cards-teams">
          <b-card
            border-variant="info"
            :header="key | numberTeam"
            header-bg-variant="info"
            header-text-variant="white"
            align="center"
            class="mb-3 homework__qualification__cards-teams__card"
            v-for="(team, key) in teams"
            :key="key">
              <b-list-group
                v-for="item in team"
                :key="item.value"
                class="homework__qualification__cards-teams__card__group">
                <b-list-group-item class="homework__qualification__cards-teams__card__group__item">
                  {{item.text}}
                </b-list-group-item>
              </b-list-group>
          </b-card>
        </b-col>
      </b-row>

    </b-form>
  </div>
</template>

<script>
import HomeworkQualificationTeam from './HomeworkQualificationTeam'
import HomeworkQualificationIndividual from './HomeworkQualificationIndividual'

import { qualificationCards } from '../mixins/qualificationCards.js'

export default {
  components: {
    HomeworkQualificationTeam,
    HomeworkQualificationIndividual
  },

  props: ['subject', 'agendaTitle', 'agenda', 'homework', 'classroom'],

  mixins: [qualificationCards],

  data () {
    return {
      teams: {},

      qualification: {
        value: null,
        options: [
          { text: 'Individual', value: 'individual' },
          { text: 'Equipos', value: 'team', disabled: true }
        ]
      }
    }
  },

  watch: {
    // Necesario cuando se usa el método de los radio buttons
    // qualification: {
    //   handler (val, oldVal) {
    //     if (val.value === 'team')
    //       this.$eventBus.$emit('[HomeworkQualificationTeam]:stateModal', {
    //         homework: this.homework,
    //         classroom: this.classroom,
    //         agenda: this.agenda,
    //         agendaTitle: this.agendaTitle,
    //         subject: this.subject,
    //         state: true
    //       })
    //     else if (val.value === 'individual')
    //       this.$eventBus.$emit('[ModalHomeworkQualificationIndividual]:stateModal', {
    //         homework: this.homework,
    //         agenda: this.agenda,
    //         agendaTitle: this.agendaTitle,
    //         subject: this.subject,
    //         state: true
    //       })
    //   },
    //   deep: true
    // },

    homework: {
      handler (val, oldVal) {
        this.qualification.value = null

        if (this.classroom)
          this.qualification.options[1].disabled = false
        else this.qualification.options[1].disabled = true
      },
      deep: true
    }
  },

  methods: {
    resetRadios () {
      // Necesario cuando se usa el método de los radio buttons
      // this.qualification.value = null
    },

    qualificationIndividual () {
      this.$eventBus.$emit('[ModalHomeworkQualificationIndividual]:stateModal', {
        homework: this.homework,
        agenda: this.agenda,
        agendaTitle: this.agendaTitle,
        subject: this.subject,
        state: true
      })
    },

    qualificationTeams () {
      this.$eventBus.$emit('[HomeworkQualificationTeam]:stateModal', {
        homework: this.homework,
        classroom: this.classroom,
        agenda: this.agenda,
        agendaTitle: this.agendaTitle,
        subject: this.subject,
        state: true
      })
    }
  }
}
</script>

<style lang="sass" scoped>
  @import '../../../assets/sass/main.sass'

  .homework
    +ele('qualification')

      +ele('cards-teams')
          display: flex
          flex-wrap: wrap
          justify-content: space-between
          align-items: center

          +ele('card')
            width: 100%

            .card-body
              padding: 0
              padding-top: .5em

            +ele('group')
              padding: 0
              margin-bottom: .5em

              +ele('item')
                padding: .5em

                font-size: 13px

                text-align: left
</style>

