<template>
  <b-modal
    centered
    header-bg-variant="danger"
    header-text-variant="light"
    body-bg-variant="danger"
    footer-bg-variant="danger"
    id="modalName"
    ref="modalName"
    :title='`Eliminar tarea "${oldName}""`'
    @ok="okName">
    <b-alert show variant="light">
      <p class="text-danger">
        <b>¿Deseas eliminar esta tarea?</b>... si lo hacaces se eliminarán todas las conexiones con las que contaba este salón:
      </p>
      <ul class="text-danger">
        <li>Descripción</li>
        <li>Fecha de entrega</li>
        <li>Método de calificación</li>
        <li>Evaluación (todos los datos de los alumnos ya evaluados)</li>
      </ul>
      <p class="text-danger text-center">
        <b>¡Jamás podrás regresarlo a la normalidad!</b>
      </p>
    </b-alert>
  </b-modal>
</template>

<script>
import { ValidatorMethods } from "@/tools/validator";

import { appFirebase } from "@/config/firebase";

import { TreeAgenda } from '../../Subject/mixins/TreeAgenda.js'

export default {
  mixins: [TreeAgenda],

  mounted() {
    this.$eventBus.$on("[HomeworkNameDelete]:stateModal", data => {
      this.subject = data.subject
      this.agenda = data.agenda
      this.agendaTitle = data.agendaTitle

      this.oldName = data.name.name
      this.idName = data.name.id

      if (data.state) this.$refs.modalName.show();
      else this.$refs.modalName.hide();
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[HomeworkNameDelete]:stateModal");
  },

  data() {
    return {
      subject: null,

      agenda: [],
      agendaTitle: {},

      oldName: null,
      idName: null
    };
  },

  methods: {
    async okName(evt) {
      const tree = this.getAgenda(
        this.agendaTitle.title,
        this.agenda,
        `/subject/${this.subject}/agenda/`,
        1)

      if (tree) {
        try {
          const response = await appFirebase
            .database()
            .ref(`${tree}homework/${this.idName}`)
            .remove()
          this.$refs.modalName.hide();
          this.$emit("resetHomework", true);
        } catch (error) {
          console.error(error);
          switch (error.code) {
            default:
              this.name.error =
                "Error del sistema... No se pudo eliminar la tarea";
              this.name.state = false;
          }
        }
      }
    }
  }
};
</script>

