<template>
  <div class="mb-3">
    <homework-description-add></homework-description-add>

    <b-row class="text-right mb-3">
      <b-col cols="12">
        <b-button
          size="sm"
          variant="dark"
          class="mr-3"
          @click="modalForm('HomeworkDescriptionAdd')">
          <i class="fas fa-sticky-note"></i>
        </b-button>

        <b-button
          v-show="checkRender !== 'Sin descripcción'"
          size="sm"
          variant="danger"
          class="mr-3"
          @click="removeNotes()">
          <i class="fas fa-trash-alt"></i>
        </b-button>
      </b-col>
    </b-row>

    <b-row>
      <b-col cols="12">
        <b-card>
          <p class="text-monospace text-center">{{checkRender}}</p>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import HomeworkDescriptionAdd from './HomeworkDescriptionAdd'

import { appFirebase } from "@/config/firebase";

import { TreeAgenda } from '../../Subject/mixins/TreeAgenda.js'

export default {
  components: {
    HomeworkDescriptionAdd
  },

  props: ['subject', 'agenda', 'agendaTitle', 'homework'],

  mixins: [TreeAgenda],

  computed: {
    checkRender () {
      if (this.subject) {
        if (this.homework.notes) return this.homework.notes
        else return 'Sin descripcción'
      }
    }
  },

  methods: {
    modalForm (modal) {
      this.$eventBus.$emit(`[${modal}]:stateModal`, {subject: this.subject, agenda: this.agenda, agendaTitle: this.agendaTitle, homework: this.homework, state: true})
    },

    async removeNotes () {
      const tree = this.getAgenda(
            this.agendaTitle.title,
            this.agenda,
            `/subject/${this.subject}/agenda/`,
            1)

      if (tree) {
        try {
          const response = await appFirebase
            .database()
            .ref(`${tree}homework/${this.homework.id}/notes`)
            .remove();

            this.$eventBus.$emit('[HomeworkName]:touchHomeworkValue')

        } catch (error) {
          console.error(error);
          switch (error.code) {
            default:
              this.description.error =
                "Error del sistema... No se pudo eliminar la nota para esta tarea";
              this.description.state = false;
          }
        }
      }
    }
  }
}
</script>

