<template>
  <b-modal
    centered
    id="modalName"
    ref="modalName"
    :title='`Actualizar tarea "${oldName}"`'
    @ok="okName"
    @shown="clearName">
    <form @submit.stop.prevent="okName">
      <b-form-group>
        <b-form-input
          id="name"
          type="text"
          v-model=name.value
          required
          :state=name.state
          placeholder="Ingresa el nombre de tu tarea"
          aria-describedby="errorName">
        </b-form-input>
        <b-form-invalid-feedback id="errorName" >{{name.error}}</b-form-invalid-feedback>
      </b-form-group>
    </form>
  </b-modal>
</template>

<script>
import { ValidatorMethods } from "@/tools/validator";

import { appFirebase } from "@/config/firebase";

import { TreeAgenda } from '../../Subject/mixins/TreeAgenda.js'

export default {
  mixins: [TreeAgenda],

  mounted() {
    this.$eventBus.$on("[HomeworkNameUpdate]:stateModal", data => {
      this.subject = data.subject
      this.agenda = data.agenda
      this.agendaTitle = data.agendaTitle

      this.name.value = data.name.name
      this.oldName = data.name.name
      this.idName = data.name.id

      if (data.state) this.$refs.modalName.show();
      else this.$refs.modalName.hide();
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[HomeworkNameUpdate]:stateModal");
  },

  data() {
    return {
      validate: false,

      subject: null,

      agenda: [],
      agendaTitle: {},

      oldName: null,
      idName: null,

      name: {
        value: "",
        state: null,
        error: null,
        validator: {
          type: "text",
          min: 3,
          max: 100
        }
      }
    };
  },

  methods: {
    SubjectValidator(mode, value, type, min, max) {
      let val = ValidatorMethods[mode](value, type, min, max);

      return val;
    },

    okName(evt) {
      const { validator } = this.name;

      evt.preventDefault();

      const val = this.SubjectValidator(
        "basicMain",
        this.name.value,
        validator.type,
        validator.min,
        validator.max
      );

      if (val) {
        this.name.error = val;
        this.name.state = false;

        this.validate = false;
      } else {
        this.name.error = null;
        this.name.state = true;

        this.validate = true;

        this.sendName();
      }
    },

    clearName() {
      if (!this.subject) this.name.value = "";
      this.name.error = null;
      this.name.state = null;
    },

    async sendName() {
      const tree = this.getAgenda(
          this.agendaTitle.title,
          this.agenda,
          `/subject/${this.subject}/agenda/`,
          1)

      if (tree) {
        try {
          const response = await appFirebase
            .database()
            .ref(`${tree}homework/${this.idName}`)
            .update({
              name: this.name.value
            });
          this.$refs.modalName.hide();
        } catch (error) {
          console.error(error);
          switch (error.code) {
            default:
              this.name.error =
                "Error del sistema... No se pudo actualizar la tarea";
              this.name.state = false;
          }
        }
      }
    }
  }
};
</script>

