<template>
  <div class="mt-3 mb-3 homework__date">
    <b-alert :show="alert.dismissCountDown"
      dismissible
      :variant="alert.variant"
      @dismissed="alert.dismissCountDown=0"
      @dismiss-count-down="countDownChanged">
      <h6>Mensaje en {{alert.dismissCountDown}} segundos</h6>
      <p>{{alert.message}}</p>
    </b-alert>

    <datepicker :inline="true" @selected="dateSelected" :value="dateHomework"></datepicker>
  </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker'

import { appFirebase } from "@/config/firebase";

import { TreeAgenda } from '../../Subject/mixins/TreeAgenda.js'

export default {
  props: ['subject', 'agendaTitle', 'agenda', 'homework'],

  components: {
    Datepicker
  },

  mixins: [TreeAgenda],

  mounted () {
    this.$eventBus.$on('[HomeworkDate]:setDate', date => {
      this.dateHomework = date
    })
  },

  beforeDestroy () {
    this.$eventBus.$off('[HomeworkDate]:setDate')
  },

  data () {
    return {
      dateHomework: null,

      alert: {
        dismissSecs: 10,
        dismissCountDown: 0,
        showDismissibleAlert: false,
        message: null,
        variant: null
      }
    }
  },

  methods: {
    countDownChanged(dismissCountDown) {
      this.alert.dismissCountDown = dismissCountDown;
    },

    async dateSelected (date) {
      const dateHomework = date
            .toJSON()
            .slice(0, 10)
            .replace(/-/g, "/");

      const tree = this.getAgenda(
          this.agendaTitle.title,
          this.agenda,
          `/subject/${this.subject}/agenda/`,
          1)

      if (tree) {
        try {
          const response = await appFirebase
            .database()
            .ref(`${tree}homework/${this.homework.id}`)
            .update({
              date: dateHomework
            });

            this.alert.variant = 'success'
            this.alert.message = `Entregar la tarea el día ${dateHomework}`;

            this.alert.dismissCountDown = this.alert.dismissSecs;

        } catch (error) {
          console.error(error);
          this.alert.variant = 'danger'
          this.alert.message = `No se pudo añadir la fecha de entrega debido a un problema en el sistema... Por favor intentelo de nuevo`;

          this.alert.dismissCountDown = this.alert.dismissSecs;
        }
      }
    }
  }
}
</script>

<style lang="sass" scoped>
  @import '../../../assets/sass/main.sass'

  .homework
    +ele('date')
      display: flex
      flex-wrap: wrap
      justify-content: center
</style>

