<template>
  <b-modal
    id="modalAddress"
    ref="modalAddress"
    title="Añadir Domicilio"
    @ok="okAddress"
    @shown="clearAddress">
    <form @submit.stop.prevent="okAddress">
      <b-form-group>
        <b-form-textarea id="address"
          v-model="address.value"
          :rows="3"
          :max-rows="6"
          :state="address.state"
          placeholder="Ingresa tu domicilio actual"
          aria-describedby="errorAddress">
        </b-form-textarea>
        <b-form-invalid-feedback id="errorAddress" >{{address.error}}</b-form-invalid-feedback>
      </b-form-group>
    </form>
  </b-modal>
</template>

<script>
import mixinValidator from "../mixins/validator.js";

import { appFirebase } from "@/config/firebase";

export default {
  mixins: [mixinValidator],

  mounted() {
    this.$eventBus.$on("[ModalAddress]:stateModal", (state = true) => {
      if (state) this.$refs.modalAddress.show();
      else this.$refs.modalAddress.hide();
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[ModalAddress]:stateModal");
  },

  data() {
    return {
      address: {
        value: "",
        state: null,
        error: null,
        validator: {
          type: "text",
          min: 4,
          max: 255
        }
      }
    };
  },

  methods: {
    okAddress(evt) {
      const { validator } = this.address;

      evt.preventDefault();

      const val = this.studentProfileValidator(
        "basicMain",
        this.address.value,
        validator.type,
        validator.min,
        validator.max
      );

      if (val) {
        this.address.error = val;
        this.address.state = false;
      } else {
        this.address.error = null;
        this.address.state = true;

        this.sendAddress();
      }
    },

    clearAddress() {
      this.address.value = "";
      this.address.error = null;
      this.address.state = null;
    },

    async sendAddress() {
      try {
        const response = await appFirebase
          .database()
          .ref(`/student/${this.$store.getters.getId}`)
          .update({
            address: this.address.value
          });

        this.$refs.modalAddress.hide();
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>

