<template>
  <b-modal
    id="modalEnrollment"
    ref="modalEnrollment"
    title="Añadir Matrícula"
    @ok="okEnrollment"
    @shown="clearEnrollment">
    <form @submit.stop.prevent="okEnrollment">
      <b-form-group>
        <b-form-input
          id="enrollment"
          type="text"
          v-model=enrollment.value
          required
          :state=enrollment.state
          placeholder="Ingresa una matrícula"
          aria-describedby="errorEnrollment">
        </b-form-input>
        <b-form-invalid-feedback id="errorEnrollment" >{{enrollment.error}}</b-form-invalid-feedback>
      </b-form-group>
    </form>
  </b-modal>
</template>

<script>
import mixinValidator from "../mixins/validator.js";

import { appFirebase } from "@/config/firebase";

export default {
  mixins: [mixinValidator],

  mounted() {
    this.$eventBus.$on("[ModalEnrollment]:stateModal", (state = true) => {
      if (state) this.$refs.modalEnrollment.show();
      else this.$refs.modalEnrollment.hide();
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[ModalEnrollment]:stateModal");
  },

  data() {
    return {
      enrollment: {
        value: "",
        state: null,
        error: null,
        validator: {
          type: "text",
          min: 4,
          max: 255
        }
      }
    };
  },

  methods: {
    okEnrollment(evt) {
      const { validator } = this.enrollment;

      evt.preventDefault();

      const val = this.studentProfileValidator(
        "basicMain",
        this.enrollment.value,
        validator.type,
        validator.min,
        validator.max
      );

      if (val) {
        this.enrollment.error = val;
        this.enrollment.state = false;
      } else {
        this.enrollment.error = null;
        this.enrollment.state = true;

        this.sendEnrollment();
      }
    },

    clearEnrollment() {
      this.enrollment.value = "";
      this.enrollment.error = null;
      this.enrollment.state = null;
    },

    async sendEnrollment() {
      try {
        const response = await appFirebase
          .database()
          .ref(`/student/${this.$store.getters.getId}`)
          .update({
            enrollment: this.enrollment.value
          });

        this.$refs.modalEnrollment.hide();
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>

