<template>
  <b-modal
    id="modalPhone"
    ref="modalPhone"
    title="Añadir Teléfono"
    @ok="okPhone"
    @shown="clearPhone">
    <form @submit.stop.prevent="okPhone">
      <b-form-group>
        <b-form-input
          id="phone"
          type="text"
          v-model=phone.value
          required
          :state=phone.state
          placeholder="Ingresa un teléfono"
          aria-describedby="errorPhone">
        </b-form-input>
        <b-form-invalid-feedback id="errorPhone" >{{phone.error}}</b-form-invalid-feedback>
      </b-form-group>
    </form>
  </b-modal>
</template>

<script>
import mixinValidator from "../mixins/validator.js";

import { appFirebase } from "@/config/firebase";

export default {
  mixins: [mixinValidator],

  mounted() {
    this.$eventBus.$on("[ModalPhone]:stateModal", (state = true) => {
      if (state) this.$refs.modalPhone.show();
      else this.$refs.modalPhone.hide();
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[ModalPhone]:stateModal");
  },

  data() {
    return {
      phone: {
        value: "",
        state: null,
        error: null,
        validator: {
          type: "number",
          min: 10,
          max: 25
        }
      }
    };
  },

  methods: {
    okPhone(evt) {
      const { validator } = this.phone;

      evt.preventDefault();

      const val = this.studentProfileValidator(
        "basicMain",
        this.phone.value,
        validator.type,
        validator.min,
        validator.max
      );

      if (val) {
        this.phone.error = val;
        this.phone.state = false;
      } else {
        this.phone.error = null;
        this.phone.state = true;

        this.sendPhone();
      }
    },

    clearPhone() {
      this.phone.value = "";
      this.phone.error = null;
      this.phone.state = null;
    },

    async sendPhone() {
      try {
        const response = await appFirebase
          .database()
          .ref(`/student/${this.$store.getters.getId}`)
          .update({
            phone: this.phone.value
          });

        this.$refs.modalPhone.hide();
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>

