<template>
  <b-modal
    id="modalTutor"
    ref="modalTutor"
    title="Añadir Tutor"
    @ok="okTutor"
    @shown="clearTutor">
    <form @submit.stop.prevent="okTutor">
      <b-form-group>
        <b-form-input
          id="tutor"
          type="text"
          v-model=tutor.value
          required
          :state=tutor.state
          placeholder="Ingresa el nombre de tu tutor"
          aria-describedby="errorTutor">
        </b-form-input>
        <b-form-invalid-feedback id="errorTutor" >{{tutor.error}}</b-form-invalid-feedback>
      </b-form-group>
    </form>
  </b-modal>
</template>

<script>
import mixinValidator from "../mixins/validator.js";

import { appFirebase } from "@/config/firebase";

export default {
  mixins: [mixinValidator],

  mounted() {
    this.$eventBus.$on("[ModalTutor]:stateModal", (state = true) => {
      if (state) this.$refs.modalTutor.show();
      else this.$refs.modalTutor.hide();
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[ModalTutor]:stateModal");
  },

  data() {
    return {
      tutor: {
        value: "",
        state: null,
        error: null,
        validator: {
          type: "text",
          min: 4,
          max: 35
        }
      }
    };
  },

  methods: {
    okTutor(evt) {
      const { validator } = this.tutor;

      evt.preventDefault();

      const val = this.studentProfileValidator(
        "basicMain",
        this.tutor.value,
        validator.type,
        validator.min,
        validator.max
      );

      if (val) {
        this.tutor.error = val;
        this.tutor.state = false;
      } else {
        this.tutor.error = null;
        this.tutor.state = true;

        this.sendTutor();
      }
    },

    clearTutor() {
      this.tutor.value = "";
      this.tutor.error = null;
      this.tutor.state = null;
    },

    async sendTutor() {
      try {
        const response = await appFirebase
          .database()
          .ref(`/student/${this.$store.getters.getId}`)
          .update({
            tutor: this.tutor.value
          });

        this.$refs.modalTutor.hide();
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>

