<template>
  <div class="container mt-3">

    <modal-enrollment></modal-enrollment>
    <modal-phone></modal-phone>
    <modal-address></modal-address>
    <modal-tutor></modal-tutor>

    <div class="row justify-content-center">
      <div class="col-md-3"></div>

      <div class="col-md-6">

        <h3 class="student__title">{{studentTitle}}</h3>

        <br>

        <b-card-group deck>
          <b-card :header="'<b>'+userData.name+'</b>'">
            <b-list-group>

              <b-list-group-item
                href="#"
                class="student__form__group">
                <small>Matrícula</small>
                <div class="d-flex w-100 justify-content-between">
                  <h6 class="mb-1">{{enrollment}}</h6>
                  <small
                    @click="addField('enrollment')"
                    class="student__form__modal">
                    {{newModifyEnrollment}}
                  </small>
                </div>
              </b-list-group-item>

              <b-list-group-item
                href="#"
                class="student__form__group">
                <small>Teléfono</small>
                <div class="d-flex w-100 justify-content-between">
                  <h6 class="mb-1">{{phone}}</h6>
                  <small
                    @click="addField('phone')"
                    class="student__form__modal">
                    {{newModifyPhone}}
                  </small>
                </div>
              </b-list-group-item>

              <b-list-group-item
                href="#"
                class="flex-column align-items-start student__form__group">
                <small>Email</small>
                <div class="d-flex w-100 justify-content-between">
                  <h6 class="mb-1">{{userData.email}}</h6>
                </div>
              </b-list-group-item>

              <b-list-group-item
                href="#"
                class="student__form__group">
                <small>Domicilio Actual</small>
                <div class="d-flex w-100 justify-content-between">
                  <h6 class="mb-1">{{address}}</h6>
                  <small
                    @click="addField('address')"
                    class="student__form__modal">
                      {{newModifyAddress}}
                  </small>
                </div>
              </b-list-group-item>

              <b-list-group-item
                href="#"
                class="student__form__group">
                <small>Tutor</small>
                <div class="d-flex w-100 justify-content-between">
                  <h6 class="mb-1">{{tutor}}</h6>
                  <small
                    @click="addField('tutor')"
                    class="student__form__modal">
                    {{newModifyTutor}}
                  </small>
                </div>
              </b-list-group-item>
              <!-- TODO: Trabajar con los avisos cuando ya se tenga la forma en la cual el maestro puede enviar algún comentario sobre un tema, tarea, trabajo, etc-->
              <b-list-group-item
                href="#"
                class="student__form__group">
                <small>Avisos</small>
                <div class="d-flex w-100 justify-content-between">
                  <h6 class="mb-1">{{notice}}</h6>
                </div>
              </b-list-group-item>

            </b-list-group>

          </b-card>
        </b-card-group>

      </div>

      <div class="col-md-3"></div>
    </div>
  </div>
</template>

<script>
import ModalEnrollment from "./components/Enrollment";
import ModalPhone from "./components/Phone";
import ModalAddress from "./components/Address";
import ModalTutor from "./components/Tutor";

import { mapGetters } from "vuex";
import { Text } from "@/tools/tools";

import { appFirebase } from "@/config/firebase";

export default {
  components: {
    ModalEnrollment,
    ModalPhone,
    ModalAddress,
    ModalTutor
  },

  props: ["studentTitle"],

  created() {
    appFirebase
      .database()
      .ref(`/student/${this.$store.getters.getId}`)
      .on("value", data => {
        const student = data.val();

        if (student) {
          const keysStudent = Object.keys(student);

          for (const data of Object.keys(this.$data)) {
            if (keysStudent.includes(data)) this[data] = student[data];
          }
        }
      });
  },

  data() {
    return {
      enrollment: null,
      phone: null,
      address: null,
      tutor: null,
      notice: null
    };
  },

  computed: {
    ...mapGetters({
      userData: "getUser"
    }),

    newModifyEnrollment() {
      if (this.enrollment !== null) return "Cambiar";
      else return "Agregar";
    },

    newModifyPhone() {
      if (this.phone !== null) return "Cambiar";
      else return "Agregar";
    },

    newModifyAddress() {
      if (this.address !== null) return "Cambiar";
      else return "Agregar";
    },

    newModifyTutor() {
      if (this.tutor !== null) return "Cambiar";
      else return "Agregar";
    }
  },

  methods: {
    addField(field) {
      this.$eventBus.$emit(`[Modal${Text.wordCamelCase(field)}]:stateModal`);
    }
  }
};
</script>

<style lang="sass" scoped>
  @import '../../assets/sass/main.sass'

  .student
    +ele('title')
      text-transform: uppercase

      color: map-get($color-gray, g1)

    +ele('form')
      +ele('group')
        cursor: default

      +ele('modal')
        color: map-get($color-blue, b1)
        cursor: pointer
</style>

