<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3"></div>

      <div class="col-md-6">

        <h2 class="school__title">{{title}}</h2>

        <router-view @authTitle="setTitle"></router-view>

      </div>

      <div class="col-md-3"></div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: null
    };
  },

  methods: {
    setTitle(title) {
      this.title = title;
    }
  }
};
</script>

<style scoped>
.school__title {
  margin: 0.5em 0em 1em 0em;

  text-align: center;
}
</style>
