<template>
  <b-form @submit.prevent="send()">
    <b-form-group
      id="groupEmail"
      label="Email:"
      label-for="email"
      description="Email del nuevo usuario"
      horizontal
      label-cols="2"
      breakpoint="md">
      <b-form-input
        id="email"
        type="email"
        v-model=form.email.value
        required
        :state=form.email.state
        aria-describedby="errorEmail">
      </b-form-input>
      <b-form-invalid-feedback id="errorEmail" >{{form.email.error}}</b-form-invalid-feedback>
    </b-form-group>

    <b-form-group
      id="groupPassword"
      label="Contraseña:"
      label-for="password"
      description="Agrega una contraseña con almenos 3 letras, 3 números y 3 simbolos"
      horizontal
      label-cols="2"
      breakpoint="lg">
      <b-form-input
        id="password"
        type="password"
        v-model=form.password.value
        required
        :state=form.password.state
        aria-describedby="errorPassword">
      </b-form-input>
      <b-form-invalid-feedback id="errorPassword" >{{form.password.error}}</b-form-invalid-feedback>
    </b-form-group>

    <b-form-group
      id="groupRepeatPassword"
      label="Repetir Contraseña:"
      label-for="repeatPassword"
      description="Repite nuevamente la contraseña anterior"
      horizontal
      label-cols="2"
      breakpoint="lg">
      <b-form-input
        id="repeatPassword"
        type="password"
        v-model=form.repeatPassword.value
        required
        :state=form.repeatPassword.state
        aria-describedby="errorRepeatPassword">
      </b-form-input>
      <b-form-invalid-feedback id="errorRepeatPassword" >{{form.repeatPassword.error}}</b-form-invalid-feedback>
    </b-form-group>

    <div class="text-center">
      <b-button type="submit" :variant="readyButton">Enviar</b-button>
      <b-button type="button" variant="link" class="auth__buttons__login" @click="toLogin()">Iniciar Sesión</b-button>
    </div>
  </b-form>
</template>

<script>
import { ValidatorMethods, Validator } from "@/tools/validator";

import { appFirebase } from "@/config/firebase";

export default {
  props: ["authTitle"],

  beforeRouteEnter(to, from, next) {
    next(vm => {
      if (vm.$store.getters.getUser.email) {
        //TODO cambiar la ruta por una pagina home del usuario logueado
        vm.$router.push({ name: "SchoolCreate" });
      }
    });
  },

  created() {
    this.$emit("authTitle", this.authTitle);
  },

  data() {
    return {
      form: {
        email: {
          value: "",
          state: null,
          error: null,
          validator: {
            type: "email",
            min: 4,
            max: 255
          }
        },
        password: {
          value: "",
          state: null,
          error: null,
          validator: {
            type: "password",
            min: 9,
            max: 255
          }
        },
        repeatPassword: {
          value: "",
          state: null,
          error: null,
          validator: {
            type: "password",
            min: 9,
            max: 255
          }
        }
      }
    };
  },

  computed: {
    readyButton() {
      let coincidences = 0;

      const keys = Object.keys(this.form);

      for (const field of keys) {
        if (this.form[field].value.length) coincidences++;
      }

      if (coincidences >= keys.length) return "primary";
      return "secondary";
    }
  },

  methods: {
    toLogin() {
      this.$router.push({ name: "Login" });
    },

    validatorCreate(mode, field, type, min, max) {
      let val = ValidatorMethods[mode](this.form[field].value, type, min, max);

      if (field === "repeatPassword") {
        val = Validator.equal(this.form[field].value, {
          data: this.form.password.value,
          message: "Contraseña"
        });
      }

      if (val) {
        this.form[field].error = val;
        this.form[field].state = false;
      } else {
        (this.form[field].error = null), (this.form[field].state = true);
      }
    },

    continueFieldsCreate() {
      let next = true;

      for (const field of Object.keys(this.form)) {
        if (this.form[field].error !== null) {
          next = false;
          break;
        }
      }

      return next;
    },

    // clearFieldsCreate() {
    //   for (const field of Object.keys(this.form)) {
    //     this.form[field].value = "";
    //     this.form[field].error = null;
    //     this.form[field].state = null;
    //   }
    // },

    async send() {
      for (const field of Object.keys(this.form)) {
        const { validator } = this.form[field];

        if (field === "photo") {
          this.validatorCreate(
            "basicMainOptionalEmpty",
            field,
            validator.type,
            validator.min,
            validator.max
          );
        } else {
          this.validatorCreate(
            "basicMain",
            field,
            validator.type,
            validator.min,
            validator.max
          );
        }
      }

      if (this.continueFieldsCreate()) {
        try {
          const response = await appFirebase
            .auth()
            .createUserWithEmailAndPassword(
              this.form.email.value,
              this.form.password.value
            );

          appFirebase
            .auth()
            .signOut()
            .then(() => {
              this.$router.push({ name: "Login" });
            })
            .catch(() => {
              console.error(error);
            });
        } catch (error) {
          if (error.code === "auth/email-already-in-use") {
            this.form.email.error = "Ya se encuentra registrado este email";
            this.form.email.state = false;
          }
        }
      }
    }
  }
};
</script>

<style scoped>
.auth__buttons__login {
  color: #dc3545;
}
</style>

