<template>
  <div class="verify__notice text-center">
    <h5 class="verify__notice__title">Verificación de cuenta {{userEmail}}</h5>
    <p class="verify__notice__paragraph">
      Se necesita la Verificación de la cuenta <b>{{userEmail}}</b> para poder acceder a las funcionalidades de este sistema... Haz click en el botón de abajo para enviar tu correo de verificación.
    </p>

    <b-button v-if="button" variant="success" class="verify__notice__button" @click="sendEmail()">Enviar correo de verificación</b-button>

    <p v-if="messageSuccess" class="verify__notice__paragraph verify__notice__paragraph--success">
      Ya se ha enviado el correo de verificación, por favor revisa tu bandeja de entrada y haz click en el enlace que viene dentro del email... esta sesión se cerrará en {{timerTime}} segundos.
    </p>
  </div>
</template>

<script>
import { appFirebase } from "@/config/firebase";

export default {
  beforeRouteEnter(to, from, next) {
    next(vm => {
      if (vm.$store.getters.getUserVerify) {
        //TODO cambiar la ruta por una pagina home del usuario logueado
        vm.$router.push({ name: "SchoolCreate" });
      }
    });
  },

  data() {
    return {
      button: true,
      messageSuccess: false,
      timerTime: 10
    };
  },

  computed: {
    userEmail() {
      return this.$store.getters.getUser.email;
    }
  },

  methods: {
    async sendEmail() {
      const user = appFirebase.auth().currentUser;

      try {
        const res = await user.sendEmailVerification();

        this.messageSuccess = true;
        this.button = false;

        const timer = setInterval(async () => {
          this.timerTime--;
          if (this.timerTime <= 0) {
            clearInterval(timer);
            const closeSesion = await appFirebase.auth().signOut();
            this.$router.push({ name: "Login" });
          }
        }, 1000);
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>

<style scoped>
.verify__notice {
  padding: 1em;

  background-color: #dc3545;
  color: #ffff;
}

.verify__notice__title {
  margin-bottom: 2em;

  text-align: center;
}

.verify__notice__paragraph {
  text-align: center;

  font-size: 14px;
}
.verify__notice__paragraph--success {
  padding: 1em;
  margin-top: 2em;

  background-color: #28a745;
}

.verify__notice__button {
  margin-top: 2em;
}
</style>


