<template>
  <div class="container mt-3">

    <modal-photo></modal-photo>
    <modal-name></modal-name>
    <modal-email></modal-email>
    <modal-password></modal-password>


    <div class="row justify-content-center">
      <div class="col-md-2"></div>

      <div class="col-md-8">

        <h3 class="profile__title">{{profileTitle}}</h3>

        <br>

        <b-card-group deck>
          <b-card>

            <div class="row align-items-center">

              <div class="col-md-3 text-center">

                <img class="img-thumbnail" :src="userData.photo !== 'Pendiente' ? userData.photo : 'https://picsum.photos/125/125/?image=58'" alt="center image" />

                <b-button variant="link" @click="activeF('photo')">cambiar</b-button>

              </div>

              <div class="col-md-9">

                <b-list-group-item
                  href="#"
                  class="profile__form__group">
                  <small>Id del Usuario</small>
                  <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">{{userData.id}}</h6>
                  </div>
                </b-list-group-item>

                <b-list-group-item
                  href="#"
                  class="profile__form__group">
                  <small>Nombre</small>
                  <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">{{userData.name}}</h6>
                    <small
                      @click="activeF('name')"
                      class="profile__form__modal">
                      {{newModifyName}}
                    </small>
                  </div>
                </b-list-group-item>

                <b-list-group-item
                  href="#"
                  class="profile__form__group">
                  <small>Email</small>
                  <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">{{userData.email}}</h6>
                    <small
                      @click="activeF('email')"
                      class="profile__form__modal">
                      {{newModifyEmail}}
                      </small>
                  </div>
                </b-list-group-item>

                <b-list-group-item
                  href="#"
                  class="profile__form__group">
                  <small>Rango</small>
                  <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">{{userData.rank}}</h6>
                  </div>
                </b-list-group-item>

                <b-list-group-item
                  href="#"
                  class="profile__form__group">
                  <div class="d-flex w-100 justify-content-center">
                    <b-button variant="link" @click="activeF('password')">Cambiar Contraseña</b-button>
                  </div>
                </b-list-group-item>
              </div>

            </div>

          </b-card>
        </b-card-group>

      </div>

      <div class="col-md-2"></div>
    </div>
  </div>
</template>

<script>
import ModalPhoto from "./components/Photo";
import ModalName from "./components/Name";
import ModalEmail from "./components/Email";
import ModalPassword from "./components/Password";

import { mapGetters } from "vuex";
import { Text } from "@/tools/tools";

import { ValidatorMethods, Validator } from "@/tools/validator";

import { appFirebase } from "@/config/firebase";

export default {
  components: {
    ModalPhoto,
    ModalName,
    ModalEmail,
    ModalPassword
  },

  props: ["profileTitle"],

  computed: {
    ...mapGetters({
      userData: "getUser"
    }),

    newModifyName() {
      if (this.userData.name !== null) return "Cambiar";
      else return "Agregar";
    },

    newModifyEmail() {
      if (this.userData.email !== null) return "Cambiar";
      else return "Agregar";
    }
  },

  methods: {
    activeF(form) {
      this.$eventBus.$emit(`[Modal${Text.wordCamelCase(form)}]:stateModal`);
    }
  }
};
</script>

<style lang="sass" scoped>
  @import '../../assets/sass/main.sass'

  .profile
    +ele('title')
      text-transform: uppercase

      color: map-get($color-gray, g1)

    +ele('form')
      +ele('group')
        cursor: default

      +ele('modal')
        color: map-get($color-blue, b1)
        cursor: pointer
</style>

