<template>
  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h3 class="classroom__title mb-3">{{classroomTitle}}</h3>

        <table-students></table-students>
      </div>

      <div class="col-md-6">
        <list-students></list-students>
      </div>
    </div>
  </div>
</template>

<script>
import TableStudents from "./components/Table";
import ListStudents from "./components/List";

export default {
  components: {
    TableStudents,
    ListStudents
  },

  props: ["classroomTitle"]
};
</script>

<style lang="sass" scoped>
  @import '../../assets/sass/main.sass'

  .classroom
    +ele('title')
      text-transform: uppercase

      color: map-get($color-gray, g1)
</style>


