<template>
  <b-modal
    id="modalEmail"
    ref="modalEmail"
    title="Añadir Email"
    @ok="okEmail"
    @shown="clearEmail">
    <form @submit.stop.prevent="okEmail">
      <b-form-group>
        <b-form-input
          id="email"
          type="email"
          v-model=email.value
          required
          :state=email.state
          placeholder="Ingresa un correo electrónico"
          aria-describedby="errorEmail">
        </b-form-input>
        <b-form-invalid-feedback id="errorEmail" >{{email.error}}</b-form-invalid-feedback>
      </b-form-group>
    </form>
  </b-modal>
</template>

<script>
import mixinValidator from "../mixins/validator.js";

import { mapGetters } from "vuex";

import { appFirebase } from "@/config/firebase";

export default {
  mixins: [mixinValidator],

  mounted() {
    this.$eventBus.$on("[ModalEmail]:stateModal", (state = true) => {
      if (state) this.$refs.modalEmail.show();
      else this.$refs.modalEmail.hide();
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[ModalEmail]:stateModal");
  },

  data() {
    return {
      email: {
        value: "",
        state: null,
        error: null,
        validator: {
          type: "email",
          min: 4,
          max: 255
        }
      }
    };
  },

  computed: {
    ...mapGetters({
      userData: "getUser"
    })
  },

  methods: {
    okEmail(evt) {
      const { validator } = this.email;

      evt.preventDefault();

      const val = this.userProfileValidator(
        "basicMain",
        this.email.value,
        validator.type,
        validator.min,
        validator.max
      );

      if (val) {
        this.email.error = val;
        this.email.state = false;
      } else {
        this.email.error = null;
        this.email.state = true;

        this.sendEmail();
      }
    },

    clearEmail() {
      this.email.value = "";
      this.email.error = null;
      this.email.state = null;
    },

    async sendEmail() {
      try {
        const response = await appFirebase
          .auth()
          .currentUser.updateEmail(this.email.value);

        const response2 = await appFirebase
          .database()
          .ref(`/ranks/${this.userData.id}`)
          .update({
            email: this.email.value
          });

        location.reload();
      } catch (error) {
        console.error(error);
        switch (error.code) {
          case "auth/requires-recent-login":
            this.email.error =
              "Se require iniciar sesión nuevamente para confirmar tus datos actuales";
            this.email.state = false;
            break;
          case "auth/email-already-in-use":
            this.email.error =
              "Este email ya se encuentra registrado en nuestro sistema... intenta con un nuevo email o contacta al encargado de la aplicación para solucionar dicho problema.";
            this.email.state = false;
            break;
          default:
            this.email.error =
              "Error del sistema... No se pudo actualizar tu correo electronico";
            this.email.state = false;
        }
      }
    }
  }
};
</script>

