<template>
  <b-modal
    id="modalName"
    ref="modalName"
    title="Añadir Nombre"
    @ok="okName"
    @shown="clearName">
    <form @submit.stop.prevent="okName">
      <b-form-group>
        <b-form-input
          id="name"
          type="text"
          v-model=name.value
          required
          :state=name.state
          placeholder="Ingresa tu nombre completo"
          aria-describedby="errorName">
        </b-form-input>
        <b-form-invalid-feedback id="errorName" >{{name.error}}</b-form-invalid-feedback>
      </b-form-group>
    </form>
  </b-modal>
</template>

<script>
import mixinValidator from "../mixins/validator.js";

import { mapGetters } from "vuex";

import { appFirebase } from "@/config/firebase";

export default {
  mixins: [mixinValidator],

  mounted() {
    this.$eventBus.$on("[ModalName]:stateModal", (state = true) => {
      if (state) this.$refs.modalName.show();
      else this.$refs.modalName.hide();
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[ModalName]:stateModal");
  },

  data() {
    return {
      name: {
        value: "",
        state: null,
        error: null,
        validator: {
          type: "text",
          min: 3,
          max: 35
        }
      }
    };
  },

  computed: {
    ...mapGetters({
      userData: "getUser"
    })
  },

  methods: {
    okName(evt) {
      const { validator } = this.name;

      evt.preventDefault();

      const val = this.userProfileValidator(
        "basicMain",
        this.name.value,
        validator.type,
        validator.min,
        validator.max
      );

      if (val) {
        this.name.error = val;
        this.name.state = false;
      } else {
        this.name.error = null;
        this.name.state = true;

        this.sendName();
      }
    },

    clearName() {
      this.name.value = "";
      this.name.error = null;
      this.name.state = null;
    },

    async sendName() {
      try {
        const response = await appFirebase.auth().currentUser.updateProfile({
          displayName: this.name.value
        });

        const response2 = await appFirebase
          .database()
          .ref(`/ranks/${this.userData.id}`)
          .update({
            name: this.name.value
          });

        const user = appFirebase.auth().currentUser;

        this.$store.dispatch("saveUser", user);

        this.$refs.modalName.hide();
      } catch (error) {
        console.error(error);
        switch (error.code) {
          default:
            this.name.error =
              "Error del sistema... No se pudo actualizar el nombre de tu perfil";
            this.name.state = false;
        }
      }
    }
  }
};
</script>

