<template>
  <b-modal
    id="modalPassword"
    ref="modalPassword"
    title="Añadir Contraseña"
    @ok="okPassword"
    @shown="clearPassword">
    <form @submit.stop.prevent="okPassword">
      <b-form-group>
        <b-form-input
          id="password"
          type="password"
          v-model=password.value
          required
          :state=password.state
          placeholder="Ingresa una nueva contraseña"
          aria-describedby="errorPassword">
        </b-form-input>
        <b-form-invalid-feedback id="errorPassword" >{{password.error}}</b-form-invalid-feedback>
      </b-form-group>

      <b-form-group>
        <b-form-input
          id="repeatPassword"
          type="password"
          v-model=repeatPassword.value
          required
          :state=repeatPassword.state
          placeholder="Ingresa nuevamente la contraseña anterior"
          aria-describedby="errorRepeatPassword">
        </b-form-input>
        <b-form-invalid-feedback id="errorRepeatPassword" >{{repeatPassword.error}}</b-form-invalid-feedback>
      </b-form-group>
    </form>
  </b-modal>
</template>

<script>
import mixinValidator from "../mixins/validator.js";

import { appFirebase } from "@/config/firebase";

export default {
  mixins: [mixinValidator],

  mounted() {
    this.$eventBus.$on("[ModalPassword]:stateModal", (state = true) => {
      if (state) this.$refs.modalPassword.show();
      else this.$refs.modalPassword.hide();
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[ModalPassword]:stateModal");
  },

  data() {
    return {
      password: {
        value: "",
        state: null,
        error: null,
        validator: {
          type: "password",
          min: 9,
          max: 255
        }
      },
      repeatPassword: {
        value: "",
        state: null,
        error: null,
        validator: {
          type: "password",
          min: 9,
          max: 255
        }
      }
    };
  },

  methods: {
    okPassword(evt) {
      evt.preventDefault();

      for (const data of Object.keys(this.$data)) {
        const { validator } = this[data];

        let val = null;

        if (data === "repeatPassword") {
          val = this.userProfileValidator(
            "basicMain",
            this[data].value,
            validator.type,
            validator.min,
            validator.max,
            this.password.value
          );
        } else {
          val = this.userProfileValidator(
            "basicMain",
            this[data].value,
            validator.type,
            validator.min,
            validator.max
          );
        }

        if (val) {
          this[data].error = val;
          this[data].state = false;
        } else {
          this[data].error = null;
          this[data].state = true;
        }
      }

      if (this.password.error === null && this.repeatPassword.error === null) {
        this.sendPassword();
      }
    },

    clearPassword() {
      this.password.value = "";
      this.password.error = null;
      this.password.state = null;

      this.repeatPassword.value = "";
      this.repeatPassword.error = null;
      this.repeatPassword.state = null;
    },

    async sendPassword() {
      try {
        const response = await appFirebase
          .auth()
          .currentUser.updatePassword(this.password.value);

        const user = appFirebase.auth().currentUser;

        this.$store.dispatch("saveUser", user);

        this.$refs.modalPassword.hide();
      } catch (error) {
        console.error(error);
        switch (error.code) {
          case "auth/requires-recent-login":
            this.password.error =
              "Se require iniciar sesión nuevamente para confirmar tus datos actuales";
            this.password.state = false;
            this.repeatPassword.error =
              "Se require iniciar sesión nuevamente para confirmar tus datos actuales";
            this.repeatPassword.state = false;
            break;
          default:
            this.password.error =
              "Error del sistema... No se pudo actualizar la contraseña de tu perfil";
            this.password.state = false;
            this.repeatPassword.error =
              "Error del sistema... No se pudo actualizar la contraseña de tu perfil";
            this.repeatPassword.state = false;
        }
      }
    }
  }
};
</script>

