<template>
  <b-modal
    id="modalPhoto"
    ref="modalPhoto"
    title="Añadir Miniatura"
    @ok="okPhoto"
    @shown="clearPhoto">
    <form @submit.stop.prevent="okPhoto">
      <b-form-group>
        <b-form-input
          id="photo"
          type="text"
          v-model=photo.value
          required
          :state=photo.state
          placeholder="Ingresa una miniatura para tu perfíl"
          aria-describedby="errorPhoto">
        </b-form-input>
        <b-form-invalid-feedback id="errorPhoto" >{{photo.error}}</b-form-invalid-feedback>
      </b-form-group>
    </form>
  </b-modal>
</template>

<script>
import mixinValidator from "../mixins/validator.js";

import { appFirebase } from "@/config/firebase";

export default {
  mixins: [mixinValidator],

  mounted() {
    this.$eventBus.$on("[ModalPhoto]:stateModal", (state = true) => {
      if (state) this.$refs.modalPhoto.show();
      else this.$refs.modalPhoto.hide();
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[ModalPhoto]:stateModal");
  },

  data() {
    return {
      photo: {
        value: "",
        state: null,
        error: null,
        validator: {
          type: "text",
          min: 9,
          max: 300
        }
      }
    };
  },

  methods: {
    okPhoto(evt) {
      const { validator } = this.photo;

      evt.preventDefault();

      const val = this.userProfileValidator(
        "basicMain",
        this.photo.value,
        validator.type,
        validator.min,
        validator.max
      );

      if (val) {
        this.photo.error = val;
        this.photo.state = false;
      } else {
        this.photo.error = null;
        this.photo.state = true;

        this.sendPhoto();
      }
    },

    clearPhoto() {
      this.photo.value = "";
      this.photo.error = null;
      this.photo.state = null;
    },

    async sendPhoto() {
      try {
        const response = await appFirebase.auth().currentUser.updateProfile({
          photoURL: this.photo.value
        });

        const user = appFirebase.auth().currentUser;

        this.$store.dispatch("saveUser", user);

        this.$refs.modalPhoto.hide();
      } catch (error) {
        console.error(error);
        switch (error.code) {
          default:
            this.photo.error =
              "Error del sistema... No se pudo actualizar la imagen de tu perfíl";
            this.photo.state = false;
        }
      }
    }
  }
};
</script>

