<template>
  <b-container>
    <modal-name></modal-name>
    <modal-notes></modal-notes>
    <modal-classroom></modal-classroom>
    <modal-name-update></modal-name-update>
    <modal-name-delete @resetSubject="resetSubject()"></modal-name-delete>
    <modal-agenda></modal-agenda>

    <b-row class="mt-3">
      <b-col cols="12">

        <h3 class="subject__title mb-3">{{subjectTitle}}</h3>

        <b-row align-h="center">
          <b-col cols="12" lg="5">
            <h5>Matería</h5>

            <b-row
              v-show="name.value"
              class="text-right mb-2">
              <b-col cols="12">
                <b-button
                  size="sm"
                  class="mr-3"
                  variant="warning"
                  @click="modalForm('nameUpdate')">
                  <i class="fas fa-edit subject__origin__update"></i>
                </b-button>

                <b-button
                  size="sm"
                  class="mr-3"
                  variant="danger"
                  @click="modalForm('nameDelete')">
                  <i class="fas fa-trash-alt subject__origin__remove"></i>
                </b-button>
              </b-col>
            </b-row>

            <b-row class="text-center">
              <b-col cols="12">
                <b-form-group
                  description="Selecciona una matería de tu lista privada o creala para gestionarla">
                  <b-row>
                    <b-col cols=8>
                      <b-form-select
                        size="sm"
                        v-model="name.value" :options="name.options">
                        <template slot="first">
                          <option :value="null" disabled>Selecciona una matería...</option>
                        </template>
                      </b-form-select>
                    </b-col>

                    <b-col cols="4">
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="modalForm('name')">
                        Nueva Matería
                      </b-button>
                    </b-col>
                  </b-row>
                </b-form-group>
              </b-col>
            </b-row>
          </b-col>

          <b-col cols="12" lg="5">
            <h5>Salones</h5>

            <b-row class="text-center">
              <b-col cols="12">
                <b-form-group
                  description="Agrega múltiples salones a una matería en común o igualmente elimina salones cuando ya no se ajuste a tu programa">
                  <b-row align-v="center">
                    <b-col cols="8">
                      <b-form-select
                        size="sm"
                        :select-size="4"
                        :options="classroom.options">
                        <template slot="first">
                          <option :value="null" disabled>Lista de salones...</option>
                        </template>
                      </b-form-select>
                    </b-col>

                    <b-col cols="4">
                      <b-button
                        size="sm"
                        :disabled="name.value === null ? true : false"
                        variant="primary"
                        @click="modalForm('classroom')">
                        Agregar Salón
                      </b-button>
                    </b-col>
                  </b-row>
                </b-form-group>
              </b-col>
            </b-row>
          </b-col>
        </b-row>

        <b-row align-h="center">
          <b-col cols="12" lg="5">
            <h5>Temario</h5>

            <b-row class="text-center">
              <b-col cols="12">
                <b-form-group
                  description="Agrega los temarios a tu materia. Los temarios inician por el tema principal (la unidad) seguidos de los subtemas los cuales podrás crear un árbol de hasta 5 niveles de profundidad.">
                  <b-row class="text-left">
                      <b-col cols="12">
                        <b-button
                          size="sm"
                          :disabled="name.value === null ? true : false"
                          variant="primary"
                          @click="modalForm('agenda')">
                          Agregar Temario
                        </b-button>
                      </b-col>
                  </b-row>

                  <b-row v-show="agenda.length">
                    <b-col cols="12" class="subject__agenda__tree mt-3">
                      <h6 class="mb-3 text-left">Temario {{nameSubject}}</h6>

                      <div class="subject__agenda__tree__ol">
                        <!-- Nivel 1 -->
                        <div
                          class="mb-1 subject__agenda__tree__ol__li"
                          v-for="item in agenda"
                          :key="item.title">
                          <div
                            class="subject__agenda__tree__ol__li__group">
                            <span class="subject__agenda__tree__ol__li__group__number">{{item.order}}</span>
                            <span class="subject__agenda__tree__ol__li__group__text">{{item.title}}</span>
                          </div>

                          <!-- Nivel 2 -->
                          <div
                            class="mb-1 subject__agenda__tree__ol__li subject__agenda__tree__ol__li__group--child"
                            v-for="item2 in item.child"
                            :key="item2.title">
                            <div
                              class="subject__agenda__tree__ol__li__group">
                              <span class="subject__agenda__tree__ol__li__group__number">{{item2.order}}</span>
                              <span class="subject__agenda__tree__ol__li__group__text">{{item2.title}}</span>
                            </div>

                            <!-- Nivel 3 -->
                            <div
                              class="mb-1 subject__agenda__tree__ol__li subject__agenda__tree__ol__li__group--child"
                              v-for="item3 in item2.child"
                              :key="item3.title">
                              <div
                                class="subject__agenda__tree__ol__li__group">
                                <span class="subject__agenda__tree__ol__li__group__number">{{item3.order}}</span>
                                <span class="subject__agenda__tree__ol__li__group__text">{{item3.title}}</span>
                              </div>

                              <!-- Nivel 4 -->
                              <div
                                class="mb-1 subject__agenda__tree__ol__li subject__agenda__tree__ol__li__group--child"
                                v-for="item4 in item3.child"
                                :key="item4.title">
                                <div
                                  class="subject__agenda__tree__ol__li__group">
                                  <span class="subject__agenda__tree__ol__li__group__number">{{item4.order}}</span>
                                  <span class="subject__agenda__tree__ol__li__group__text">{{item4.title}}</span>
                                </div>

                                <!-- Nivel 5 -->
                                <div
                                  class="mb-1 subject__agenda__tree__ol__li subject__agenda__tree__ol__li__group--child"
                                  v-for="item5 in item4.child"
                                  :key="item5.title">
                                  <div
                                    class="subject__agenda__tree__ol__li__group">
                                    <span class="subject__agenda__tree__ol__li__group__number">{{item5.order}}</span>
                                    <span class="subject__agenda__tree__ol__li__group__text">{{item5.title}}</span>
                                  </div>


                                </div>

                              </div>

                            </div>

                          </div>

                        </div>

                      </div>
                    </b-col>
                  </b-row>
                </b-form-group>
              </b-col>
            </b-row>
          </b-col>

          <b-col cols="12" lg="5">
            <h5>Notas</h5>

            <b-row class="text-center">
              <b-col cols="12">
                <b-form-group
                  description="Agrega pequeñas notas a tus materias... pequeñas ideas, pendientes, cambios y en fin todo lo relacionado con tu matería">
                  <b-row class="text-left">
                    <b-col cols="12">
                      <b-button
                        size="sm"
                        :disabled="name.value === null ? true : false"
                        variant="primary"
                        @click="modalForm('notes')">
                        Agregar Notas
                      </b-button>
                    </b-col>
                  </b-row>

                  <b-row v-show="renderNotes">
                    <b-col cols="12">
                      <b-card class="mt-3">
                        <small class="text-monospace"><b>Últimas Notas</b></small>
                        <p class="text-monospace text-center subject__notes">"{{renderNotes}}"</p>
                      </b-card>
                    </b-col>
                  </b-row>
                </b-form-group>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-col>
    </b-row>

    <!-- <pre>
      {{$data}}
    </pre> -->
  </b-container>
</template>

<script>
import ModalName from "./components/Name";
import ModalNameUpdate from "./components/NameUpdate";
import ModalNameDelete from "./components/NameDelete";
import ModalNotes from "./components/Notes";
import ModalClassroom from "./components/Classroom";
import ModalAgenda from "./components/Agenda";

import { Text } from "@/tools/tools";

import { appFirebase } from "@/config/firebase";

import { RenderAgenda } from './mixins/RenderAgenda.js'

export default {
  components: {
    ModalName,
    ModalNotes,
    ModalClassroom,
    ModalNameUpdate,
    ModalNameDelete,
    ModalAgenda
  },

  props: ["subjectTitle"],

  mixins: [RenderAgenda],

  created() {
    appFirebase
      .database()
      .ref(`/subject`)
      .orderByChild("teacher")
      .equalTo(this.$store.getters.getId)
      .on("value", data => {
        this.classroom.options = [];

        const collection = data.val();
        const options = [];

        if (collection) {
          for (const option of Object.keys(collection)) {
            options.push({
              value: option,
              text: collection[option].name,
              classroom: collection[option].classroom
                ? collection[option].classroom
                : null,
              notes: collection[option].notes ? collection[option].notes : null,
              agenda: collection[option].agenda ? collection[option].agenda : null
            });
          }

          this.name.options = options;
        }
      });
  },

  data() {
    return {
      renderNotes: null,

      name: {
        value: null,
        options: []
      },

      classroom: {
        options: []
      }
    };
  },

  watch: {
    name: {
      handler(val, oldVal) {
        this.renderNotes = null;

        if (val.value) {
          for (const option of val.options) {
            if (option.value === val.value) {
              if (option.notes) this.renderNotes = option.notes;

              this.renderClassroom(option.classroom);

              this.renderAgenda(option.agenda)
              break;
            }
          }
        }
      },
      deep: true
    }
  },

  computed: {
    nameSubject () {
      for (const option of this.name.options) {
        if (this.name.value === option.value) return option.text;
      }
    }
  },

  methods: {
    resetSubject() {
      this.renderNotes = null;
      this.name.value = null;
      this.name.options = [];
      this.classroom.options = [];
    },

    renderClassroom(classroom) {
      this.classroom.options = [];

      if (classroom) {
        const options = [];

        for (const idClassroom of Object.keys(classroom)) {
          appFirebase
            .database()
            .ref("/classroom")
            .orderByKey()
            .equalTo(idClassroom)
            .once("value", data => {
              this.classroom.options = [];

              const collection = data.val();

              if (collection) {
                for (const option of Object.keys(collection)) {
                  options.push({
                    value: idClassroom,
                    text: collection[option].name
                  });
                }
              }

              this.classroom.options = options;
            });
        }
      }
    },

    modalForm(modal) {
      if (
        modal === "notes" ||
        modal === "classroom" ||
        modal === "nameUpdate" ||
        modal === "nameDelete" ||
        modal === "agenda"
      ) {
        const subject = {
          id: this.name.value
        };

        for (const option of this.name.options) {
          if (subject.id === option.value) subject["name"] = option.text;
        }

        this.$eventBus.$emit(`[Modal${Text.wordCamelCase(modal)}]:stateModal`, {
          subject,
          state: true
        });
      } else
        this.$eventBus.$emit(`[Modal${Text.wordCamelCase(modal)}]:stateModal`);
    }
  }
};
</script>

<style lang="sass" scoped>
  @import '../../assets/sass/main.sass'

  .subject
    +ele('title')
      text-transform: uppercase

      color: map-get($color-gray, g1)

    +ele('origin')
      +ele('update')
        font-size: 1.2em

        color: white

      +ele('remove')
        font-size: 1.2em

    +ele('notes')
      font-size: 13px

    +ele('agenda')

      +ele('tree')
        height: 200px

        overflow-y: auto
        overflow-x: auto

        +ele('ol')

          +ele('li')
            width: 100%

            display: flex
            flex-wrap: wrap

            +ele('group')
              width: 100%

              display: flex

              cursor: default;

              // &:hover
              //   color: map-get($color-red, r1)

              +ele('number')
                margin-right: 1em

              +ele('text')
                white-space: nowrap

                display: inline-block

              +mod('child')
                margin-left: 1.5em

</style>
