<template>
  <div>
    <b-navbar toggleable="md" type="dark" variant="danger" :fixed=fixed class="header">

      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

      <b-navbar-brand tag="h1" href="#" class="mb-0" >Hschool</b-navbar-brand>

      <b-collapse is-nav id="nav_collapse">

        <b-navbar-nav v-if="logout">

          <b-nav-item-dropdown text="Administrador">
            <b-dropdown-item href="#" @click="moveTo('Ranks')">
              Rangos
            </b-dropdown-item>

            <b-dropdown-item href="#" @click="moveTo('SchoolCreate')">
              Escuelas
            </b-dropdown-item>
          </b-nav-item-dropdown>

          <b-nav-item-dropdown text="Maestro">
            <b-dropdown-item href="#" @click="moveTo('Classroom')">
              Salones
            </b-dropdown-item>

            <b-dropdown-item href="#" @click="moveTo('Subject')">
              Materias
            </b-dropdown-item>

            <b-dropdown-item href="#" @click="moveTo('Homework')">
              Tareas
            </b-dropdown-item>
          </b-nav-item-dropdown>

          <b-nav-item-dropdown text="Alumnos">
            <b-dropdown-item href="#" @click="moveTo('Student')">
              Estudiante
            </b-dropdown-item>
          </b-nav-item-dropdown>

        </b-navbar-nav>

        <b-navbar-nav class="ml-auto" v-if="logout">
          <b-nav-item-dropdown right>
            <template slot="button-content">
              <em>{{this.$store.getters.getUser.email}}</em>
            </template>
            <router-link :to="{name: 'Profile'}" class="dropdown-item" role="menuitem" target="_self">Perfil</router-link>
            <b-dropdown-item @click="sesionLogout">Cerrar Sesión</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>

      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
import firebase from "firebase";

export default {
  data() {
    return {
      fixed: null
    };
  },
  computed: {
    logout() {
      if (firebase.auth().currentUser) return true;
      else return false;
    }
  },
  methods: {
    sesionLogout() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.push({ name: "Login" });
        })
        .catch(() => {
          console.error(error);
        });
    },

    moveTo (id) {
      this.$router.push({name: id})
    }
  }
};
</script>

<style scoped>
.navbar {
  padding: 0 1rem;
}

.header {
  font-size: 13px;
}
.nav-link--dropdown {
  text-decoration: none !important;

  color: #000 !important;
}
</style>


