<template>
  <b-form @submit.prevent="send()">
    <slot name="school-institute" :institute="form.institute"></slot>
    <!-- <pre>{{$data}}</pre> -->
    <b-form-group
      id="groupPrincipal"
      label="Director(a):"
      label-for="principal"
      description="Director a cargo de la escuela"
      horizontal
      label-cols="2"
      breakpoint="md">
      <b-form-input
        id="principal"
        type="text"
        v-model=form.principal.value
        required
        :state=form.principal.state
        aria-describedby="errorPrincipal">
      </b-form-input>
      <b-form-invalid-feedback id="errorPrincipal" >{{form.principal.error}}</b-form-invalid-feedback>
    </b-form-group>

    <b-form-group
      id="groupState"
      label="Estado:"
      label-for="state"
      description="El estado en donde se encuentra la escuela"
      horizontal
      label-cols="2"
      breakpoint="md">
      <b-form-select id="state" v-model="form.state.value" :options="form.state.options">
        <template slot="first">
          <option :value="null" disabled>Escoge un estado...</option>
        </template>
      </b-form-select>
    </b-form-group>

    <b-form-group
      id="groupCity"
      label="Ciudad:"
      label-for="city"
      description="La ciudad en donde se encuentra la escuela"
      horizontal
      label-cols="2"
      breakpoint="md">
      <b-form-input
        id="city"
        type="text"
        v-model=form.city.value
        required
        :state=form.city.state
        aria-describedby="errorCity">
      </b-form-input>
      <b-form-invalid-feedback id="errorCity" >{{form.city.error}}</b-form-invalid-feedback>
    </b-form-group>

    <b-form-group
      id="groupAddress"
      label="Dirección:"
      label-for="address"
      description="Dirección específica"
      horizontal
      label-cols="2"
      breakpoint="md">
      <b-form-textarea id="address"
        v-model="form.address.value"
        required
        :rows="3"
        :max-rows="6"
        :state="form.address.state"
        aria-describedby="errorAddress">
      </b-form-textarea>
      <b-form-invalid-feedback id="errorAddress" >{{form.address.error}}</b-form-invalid-feedback>
    </b-form-group>

    <b-form-group
      id="groupPhone"
      label="Telefono:"
      label-for="phone"
      description="Telefóno principal de contacto"
      horizontal
      label-cols="2"
      breakpoint="md">
      <b-form-input
        id="phone"
        type="tel"
        v-model=form.phone.value
        required
        :state=form.phone.state
        aria-describedby="errorPhone">
      </b-form-input>
      <b-form-invalid-feedback id="errorPhone" >{{form.phone.error}}</b-form-invalid-feedback>
    </b-form-group>

    <b-form-group
      id="groupEmail"
      label="Email:"
      label-for="email"
      description="Email principal de contacto"
      horizontal
      label-cols="2"
      breakpoint="md">
      <b-form-input
        id="email"
        type="email"
        v-model=form.email.value
        required
        :state=form.email.state
        aria-describedby="errorEmail">
      </b-form-input>
      <b-form-invalid-feedback id="errorEmail" >{{form.email.error}}</b-form-invalid-feedback>
    </b-form-group>

    <b-form-group
      id="groupWeb"
      label="Web:"
      label-for="web"
      description="Página web de la escuela"
      horizontal
      label-cols="2"
      breakpoint="md">
      <b-form-input
        id="web"
        type="text"
        v-model=form.web.value
        required
        :state=form.web.state
        aria-describedby="errorWeb">
      </b-form-input>
      <b-form-invalid-feedback id="errorWeb" >{{form.web.error}}</b-form-invalid-feedback>
    </b-form-group>

    <!-- <b-form-group
      id="groupPicture"
      label="Imagen Escolar:"
      label-for="picture"
      description="Imagen representativa de la escuela">
    </b-form-group> -->

    <b-form-group
      id="groupNotes"
      label="Notas:"
      label-for="notes"
      description="Información extra sobre la escuela"
      horizontal
      label-cols="2"
      breakpoint="md">
      <b-form-textarea id="notes"
        v-model="form.notes.value"
        :rows="3"
        :max-rows="6"
        :state="form.notes.state"
        aria-describedby="errorNotes">
      </b-form-textarea>
      <b-form-invalid-feedback id="errorNotes" >{{form.notes.error}}</b-form-invalid-feedback>
    </b-form-group>

    <div class="text-center">
      <b-button type="submit" :variant="readyButton">Enviar</b-button>
    </div>
  </b-form>
</template>

<script>
import { Create } from "../mixins/Create.js";
import { Update } from "../mixins/Update.js";

export default {
  props: ["action"],

  mixins: [Create, Update],

  mounted() {
    this.$eventBus.$on("[SchoolCU]:institute_value", value => {
      this.form.institute.value = value;
    });

    this.$eventBus.$on("[SchoolCU]:collection", data => {
      const id = Object.keys(data)[0];

      this.collection = id;

      for (const field of Object.keys(this.form))
        this.form[field].value = data[id][field];
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[SchoolCU]:institute_value");
    this.$eventBus.$off("[SchoolCU]:collection");
  },

  data() {
    return {
      collection: null,
      form: {
        institute: {
          value: "",
          state: null,
          error: null,
          validator: {
            type: "text",
            min: 3,
            max: 50
          }
        },
        principal: {
          value: "",
          state: null,
          error: null,
          validator: {
            type: "text",
            min: 3,
            max: 20
          }
        },
        state: {
          value: "Aguascalientes",
          options: [
            { value: "Aguascalientes", text: "Aguascalientes" },
            { value: "Baja California", text: "Baja California" },
            { value: "Baja California Sur", text: "Baja California Sur" },
            { value: "Campeche", text: "Campeche" },
            { value: "Chiapas", text: "Chiapas" },
            { value: "Chihuahua", text: "Chihuahua" },
            { value: "Coahuila de Zaragoza", text: "Coahuila de Zaragoza" },
            { value: "Colima", text: "Colima" },
            { value: "Ciudad de México", text: "Ciudad de México" },
            { value: "Durango", text: "Durango" },
            { value: "Guanajuato", text: "Guanajuato" },
            { value: "Guerrero", text: "Guerrero" },
            { value: "Hidalgo", text: "Hidalgo" },
            { value: "Jalisco", text: "Jalisco" },
            { value: "Mexico", text: "Mexico" },
            { value: "Michoacan de Ocampo", text: "Michoacan de Ocampo" },
            { value: "Morelos", text: "Morelos" },
            { value: "Nayarit", text: "Nayarit" },
            { value: "Nuevo Leon", text: "Nuevo Leon" },
            { value: "Oaxaca", text: "Oaxaca" },
            { value: "Puebla", text: "Puebla" },
            { value: "Queretaro de Arteaga", text: "Queretaro de Arteaga" },
            { value: "Quintana Roo", text: "Quintana Roo" },
            { value: "San Luis Potosi", text: "San Luis Potosi" },
            { value: "Sinaloa", text: "Sinaloa" },
            { value: "Sonora", text: "Sonora" },
            { value: "Tabasco", text: "Tabasco" },
            { value: "Tamaulipas", text: "Tamaulipas" },
            { value: "Tlaxcala", text: "Tlaxcala" },
            { value: "Veracruz-Llave", text: "Veracruz-Llave" },
            { value: "Yucatan", text: "Yucatan" },
            { value: "Zacatecas", text: "Zacatecas" }
          ]
        },
        city: {
          value: "",
          state: null,
          error: null,
          validator: {
            type: "text",
            min: 3,
            max: 30
          }
        },
        address: {
          value: "",
          state: null,
          error: null,
          validator: {
            type: "text",
            min: 4,
            max: 255
          }
        },
        phone: {
          value: "",
          state: null,
          error: null,
          validator: {
            type: "number",
            min: 10,
            max: 15
          }
        },
        email: {
          value: "",
          state: null,
          error: null,
          validator: {
            type: "email",
            min: 4,
            max: 255
          }
        },
        web: {
          value: "",
          state: null,
          error: null,
          validator: {
            type: "text",
            min: 5,
            max: 100
          }
        },
        picture: {
          value: "",
          state: null,
          error: null
        },
        notes: {
          value: "",
          state: null,
          error: null,
          validator: {
            type: "text",
            min: 5,
            max: 255
          }
        }
      }
    };
  },

  computed: {
    readyButton() {
      if (
        this.form.institute.value.length &&
        this.form.principal.value.length &&
        this.form.state.value.length &&
        this.form.city.value.length &&
        this.form.address.value.length &&
        this.form.phone.value.length &&
        this.form.email.value.length &&
        this.form.web.value.length &&
        this.form.notes.value.length
      )
        return "primary";
      else return "secondary";
    }
  },

  methods: {
    send() {
      switch (this.action) {
        case "create":
          this.sendCreate();
          break;
        case "update":
          this.sendUpdate();
          break;
        default:
          console.error(`the action "${this.action}" no exists in our system`);
      }
    }
  }
};
</script>
