<template>
  <div class="list-ranks">
    <b-container>
      <b-row class="text-center mt-3">
        <b-col></b-col>
        <b-col cols="10">
          <b-form-select v-model="rankSelected" :options="options" class="mb-3" size="sm" />
        </b-col>
        <b-col></b-col>
      </b-row>
    </b-container>

    <b-list-group>
      <b-list-group-item variant="warning" class="flex-column align-items-start mb-1" v-for="item in list" :key="item.id">
        <div class="d-flex w-100 justify-content-between">
          <b-button @click="openCollapse(item.id)" variant="link" class="ranks__list__title" :aria-controls="item.id">
            <h5>{{item.name}}</h5>
          </b-button>
          <small>
            <b-button size="sm" variant="danger" @click="removeUser(item)">
              Sacar
            </b-button>
          </small>
        </div>

        <b-collapse :id="item.id" :ref="`collapse-${item.id}`">
          <b-card bg-variant="light">
            <small><b>id</b>: {{item.id}}</small><br>
            <small><b>Email</b>: {{item.email}}</small><br>
            <small><b>Rango</b>: {{item.rank}}</small>
          </b-card>
        </b-collapse>

      </b-list-group-item>
    </b-list-group>
  </div>
</template>

<script>
import { appFirebase } from "@/config/firebase";

export default {
  data() {
    return {
      rankSelected: null,
      list: [],
      options: [
        { value: null, text: "Selecciona algún rango" },
        { value: "Maestro", text: "Maestro" },
        { value: "Estudiante", text: "Estudiante" },
        { value: "Administrador", text: "Administrador" }
      ]
    };
  },

  watch: {
    rankSelected(data, oldData) {
      this.listRanks(data);
      this.$eventBus.$emit("[TableRanks]:moveRank", data);
    }
  },

  methods: {
    openCollapse(id) {
      const collapse = this.$refs[`collapse-${id}`][0];

      if (collapse.show) collapse.show = false;
      else collapse.show = true;
    },

    listRanks(search) {
      appFirebase
        .database()
        .ref("/ranks")
        .orderByChild("rank")
        .equalTo(search)
        .on("value", data => {
          this.list = [];

          const collection = data.val();

          const newList = [];

          if (collection) {
            for (const item of Object.keys(collection)) {
              const rawCollection = {};
              rawCollection[item] = collection[item];

              newList.push({
                id: item,
                email: collection[item].email,
                name: collection[item].name,
                rank: collection[item].rank,
                raw: rawCollection
              });
            }

            const newListSort = newList.sort((a, b) => {
              return a.name < b.name;
            });

            this.list = newListSort;
          }
        });
    },

    removeUser(item) {
      appFirebase
        .database()
        .ref(`/ranks/${item.id}`)
        .update({
          rank: "Pendiente"
        });
    }
  }
};
</script>

<style lang="sass" scoped>
  @import '../../../assets/sass/main.sass'

  .ranks
    +ele('list')

      +ele('title')
        color: map-get($color-bootstrap, b1)
</style>

