<template>
  <div>

    <b-row>
      <b-col md="12" class="my-3">
        <b-form-group horizontal label="Filtro" class="mb-0 ranks__filter">
          <b-input-group>
            <b-form-input class="ranks__filter__input" v-model="filter" placeholder="Buscar..." />
            <b-input-group-append>
              <b-btn class="ranks__filter__button" variant="info" :disabled="!filter" @click="filter = ''">Limpiar</b-btn>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>
    </b-row>

    <b-alert :show="alert.dismissCountDown"
      dismissible
      variant="warning"
      @dismissed="alert.dismissCountDown=0"
      @dismiss-count-down="countDownChanged">
      <p>{{alert.message}}</p>
      <b-progress variant="warning"
        :max="alert.dismissSecs"
        :value="alert.dismissCountDown"
        height="4px">
      </b-progress>
    </b-alert>

    <b-table
      striped
      :items="items"
      :fields="fields"
      :filter="filter"
      :small="smallTable"
      class="ranks__table">

      <template slot="acciones" slot-scope="row">
        <b-button size="sm" @click.stop="row.toggleDetails" class="mr-2 ranks__table__actions">
          {{ row.detailsShowing ? 'Ocultar': 'Mostrar' }} Detalles
        </b-button>
        <b-button size="sm" @click="sendData(row)" class="mr-2 ranks__table__actions"
        :class="{'ranks__table__actions--icon': moveRank}">
          <i class="fas fa-plus"></i>
        </b-button>
      </template>

      <template slot="row-details" slot-scope="row">
        <b-card>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>Id:</b></b-col>
            <b-col>{{ row.item.id }}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>Email:</b></b-col>
            <b-col>{{ row.item.email }}</b-col>
          </b-row>
        </b-card>
      </template>

    </b-table>

  </div>
</template>

<script>
import { appFirebase } from "@/config/firebase";

export default {
  created() {
    appFirebase
      .database()
      .ref("/ranks")
      .on("value", data => {
        const collection = data.val();

        const items = [];

        for (const item of Object.keys(collection)) {
          const rawCollection = {};
          rawCollection[item] = collection[item];

          items.push({
            collection: rawCollection,
            id: item,
            rango: collection[item].rank,
            nombre: collection[item].name,
            email: collection[item].email
          });
        }

        this.items = items;
      });
  },

  mounted() {
    this.$eventBus.$on("[TableRanks]:moveRank", rank => (this.moveRank = rank));
  },

  beforeDestroy() {
    this.$eventBus.$off("[TableRanks]:moveRank");
  },

  data() {
    return {
      moveRank: null,

      smallTable: false,

      fields: [
        { key: "nombre", label: "Nombre", sortable: true },
        { key: "rango", label: "Rango", sortable: true },
        { key: "acciones", label: "Acciones" }
      ],
      items: [],
      filter: null,
      sortBy: null,
      sortDesc: false,
      noClose: true,

      alert: {
        dismissSecs: 5,
        dismissCountDown: 0,
        showDismissibleAlert: false,
        message: null
      }
    };
  },

  methods: {
    countDownChanged(dismissCountDown) {
      this.alert.dismissCountDown = dismissCountDown;
    },

    async sendData(data) {
      /**@deprecated Elimina de mi tabla aquellos usuarios ya registrados */
      // this.items = this.items.filter(item => {
      //   if (item.id !== data.item.id) return item;
      // });

      if (this.moveRank && this.moveRank !== data.item.rango) {
        try {
          const response = await appFirebase
            .database()
            .ref(`/ranks/${data.item.id}`)
            .update({
              rank: this.moveRank
            });
        } catch (error) {
          console.error(error);
        }
      } else {
        this.alert.message = `Selecciona algún rango disponible y después agrega tu usuario requerido`;

        this.alert.dismissCountDown = this.alert.dismissSecs;
      }
    }
  }
};
</script>

<style lang="sass" scoped>
  @import '../../../assets/sass/main.sass'

  .ranks
    +ele('table')
      font-size: 13px

      +ele('actions')
        width: auto;

        margin: 0

        font-size: 1.1em

        box-shadow: 0 0 0 0.1rem transparent

        background: transparent
        color: map-get($color-gray, g1)

        &:active
          box-shadow: 0 0 0 0.1rem transparent !important;

          background: transparent !important
          color: map-get($color-gray, g1) !important

        +mod('icon')
          &:hover
            border-color: map-get($color-green, g1)

            background-color: map-get($color-green, g1)
            color: white

    +ele('filter')
      font-size: 13px

      +ele('input')
        font-size: 13px

      +ele('button')
        font-size: 13px
</style>

