<template>
  <b-modal
    centered
    header-bg-variant="danger"
    header-text-variant="light"
    body-bg-variant="danger"
    footer-bg-variant="danger"
    id="modalName"
    ref="modalName"
    :title='`Eliminar salón "${classroom.name}""`'
    @ok="okName">
    <b-alert show variant="light">
      <p class="text-danger">
        <b>¿Deseas eliminar este salón?</b>... si lo haces se eliminarán todas las conexiones con las que contaba este salón:
      </p>
      <ul class="text-danger">
        <li>Materias (salones ligados a materias)</li>
      </ul>
      <p class="text-danger text-center">
        <b>¡Jamás podrás regresarlo a la normalidad!</b>
      </p>
    </b-alert>
  </b-modal>
</template>

<script>
import { appFirebase } from "@/config/firebase";

export default {
  mounted() {
    this.$eventBus.$on("[ModalClassroomDelete]:stateModal", data => {
      if (data.classroom) {
        this.classroom.id = data.classroom.id;
        this.classroom.name = data.classroom.name;
      }

      if (data.state) this.$refs.modalName.show();
      else this.$refs.modalName.hide();
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[ModalClassroomDelete]:stateModal");
  },

  data() {
    return {
      validate: false,

      classroom: {
        id: null,
        name: null
      }
    };
  },

  methods: {
    async okName(evt) {
      try {
        new Promise (resolve => {
          appFirebase
            .database()
            .ref(`/subject`)
            .once('value', data => {
              const collection = data.val()

              if (collection) {
                for (const subject of Object.keys(collection)) {
                  if (collection[subject].classroom) {
                    Object.keys(collection[subject].classroom).forEach(classroom => {
                      if (classroom === this.classroom.id) {
                        appFirebase
                          .database()
                          .ref(`/subject/${subject}/classroom/${classroom}`)
                          .remove()
                      }
                    })
                  }
                }
              }
            });

          resolve()
        })
          .then(async () => {
            const response = await appFirebase
              .database()
              .ref(`/classroom/${this.classroom.id}`)
              .remove();

            this.$refs.modalName.hide();
            this.$emit("resetClassroom", true);
          })
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>

