<template>
  <b-modal
    centered
    header-bg-variant="danger"
    header-text-variant="light"
    body-bg-variant="danger"
    footer-bg-variant="danger"
    id="modalStudent"
    ref="modalStudent"
    :title='`Remover estudiante "${student.name}""`'
    @ok="okStudent"
    @shown="clearStudent">
    <b-alert show variant="light">
      <p class="text-danger">
        ¿Deseas remover el estudiante <b>{{student.name}}</b> del salón <b>{{classroomName}}</b>?... si lo haces estarás eliminando lo siguiente:
      </p>
      <ul class="text-danger">
        <li>Todas las integraciones de equipo en las cuales este estudiante aparezca; agregadas en la sección de método de calificación del módulo de tareas</li>
        <!-- <li>Todas las evaluaciones en las cuales aparezca este estudiante ESTO SE MANTENDRÁ AUNQUE NO SE RENDERIZARÁ... EN UN FUTURO SE AGREGARÁ UN MODULO DE TRANSFERENCIA DE ESTUDIANTE CON TODO Y SUS CALIFICACIONES</li> -->
      </ul>
      <p class="text-danger text-center">
        <b>¡Jamás podrás regresarlo a la normalidad!</b>
      </p>
    </b-alert>
  </b-modal>
</template>

<script>
import { appFirebase } from "@/config/firebase";

import { RenderAgenda } from '../../Subject/mixins/RenderAgenda.js'
import { TreeHomework } from '../../Homework/mixins/TreeHomework.js'
import { TreeAgenda } from '../../Subject/mixins/TreeAgenda.js'

export default {
  mixins: [RenderAgenda, TreeAgenda, TreeHomework],

  mounted() {
    this.$eventBus.$on("[ModalListRemoveStudent]:stateModal", data => {
      this.student = data.student
      this.classroomName = data.classroomName

      if (data.state) this.$refs.modalStudent.show();
      else this.$refs.modalStudent.hide();
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[ModalListRemoveStudent]:stateModal");
  },

  data() {
    return {
      student: {},
      classroomName: null
    };
  },

  methods: {
    clearStudent() {
      this.agenda = [];
      this.treeHomework = [];
    },

    async okStudent(evt) {
      try {
        await new Promise ((resolve, reject) => {
          // Aqui consigo toda la collección actual de todas las materías y la envio a la siguiente actividad. Si no hay materias, simplemente enviar a eliminar el salón (Enviar al catch) (Algo ilogico puesto que este módulo necesita de las materias para funcionar, pero bueno no esta de más)
          appFirebase
            .database()
            .ref('/subject')
            .once('value', data => {
              const collection = data.val()

              if (collection) resolve(collection)
              else reject(new Error('No existen materias, por lo tanto borrar sin más'))
            })
        })
          .then(collection => {
            // Aquí solo obtengo el temario de la matería seleccionada y la envio a la siguiente actividad siempre y cuando exista el temario; en caso de que no éxista el temario simplemente lo envio a eliminar el salón sin más (Enviar al catch)
            let agendasRaw = []

            for (const subject of Object.keys(collection))
              if (collection[subject].agenda) agendasRaw.push({ subject, collection: collection[subject].agenda })

            if (Object.keys(agendasRaw).length) return agendasRaw
            else throw new Error('La máteria existe pero no contiene ningun temario, por lo tanto borrar sin más')
          })
          .then(agendasRaw => {
            // Aqui simplemente cambio el formato de las agendas de la actividad anterior por un formato mucho mejor para trabajar con los filtros del árbol tree. Se envia sin restricción a la siguiente actividad. Los datos obtenidos se guardan en la variable this.agenda del archivo RenderAgenda.js

            for (const agenda of agendasRaw)
              this.collectionAgenda(agenda.collection, true, agenda.subject)

            return null
          })
          .then(() => {
            // Aqui comienzo a filtrar todos aquellos temarios que contengan el atributo homework y lo envio a la siguiente condición; en caso de que no exista el atributo homework entonces enviar a eliminar el salón sin más (enviar al catch). La siguiente condicion valida si existe el atributo qualification y si lo tiene entonces lo envia a la tercera validación, en caso contrario lo enviará a eliminar el salón sin más (enviar al catch). Por último la tercera validación comprueba si el atributo qualification es diferente a individual para así enviarlo a la siguiente actividad, en caso contrario lo enviará a eliminar el salón sin más (enviar al catch)
            // console.log(this.agenda)
            for (const agenda of this.agenda) {
              this.getHomework(
                agenda.collection,
                `/subject/${agenda.subject}/agenda/`,
                1,
                true)
            }

            if (this.treeHomework.length) {
              const homeworks = []

              new Promise (async resolve => {
                for (const treeHomework of this.treeHomework) {
                  await appFirebase
                    .database()
                    .ref(`${treeHomework}homework`)
                    .once('value', data => {
                      const collection = data.val()

                      if (collection) {
                        for (const keyHomework of Object.keys(collection)) {
                          if (collection[keyHomework].qualification) {
                            homeworks.push({
                              tree: `${treeHomework}homework/${keyHomework}/qualification/`,
                              collection: collection[keyHomework].qualification
                            })
                          }
                        }
                      }
                    })
                }
                resolve()
              })
                .then(() => {
                  if (homeworks.length) {
                    for (const homework of homeworks) {
                      for (const classroom of Object.keys(homework.collection)) {
                        if (classroom === this.student.classroom) {
                          for (const team of Object.keys(homework.collection[classroom])) {
                            for (const [key, student] of homework.collection[classroom][team].entries()) {
                              if (student === this.student.idStudent) {
                                const tree = `${homework.tree}${classroom}/${team}/${key}/`

                                appFirebase
                                  .database()
                                  .ref(tree)
                                  .remove()
                              }
                            }
                          }
                        }
                      }
                    }
                  } else throw new Error('No existe ningún atributo qualification en algun temario')
                })
                .catch(async error => {
                  console.error(error)
                })
            } else throw new Error('No existe ningún atributo homework en algun temario')
          })
          .catch(async error => {
            console.error(error)
          })

        appFirebase
          .database()
          .ref(`/classroom/${this.student.classroom}/students/${this.student.idStudent}`)
          .remove();
      } catch (error) {
        console.error(error)
      }
    }
  }
};
</script>

