<template>
  <div class="list-ranks">
    <modal-class-name></modal-class-name>
    <modal-classroom-update></modal-classroom-update>
    <modal-classroom-delete @resetClassroom="resetSubject()"></modal-classroom-delete>
    <modal-notes></modal-notes>
    <modal-remove-student></modal-remove-student>

    <b-container>
      <b-row class="text-center mt-3 mb-3">
        <b-col cols="1"></b-col>

        <b-col cols="5">
          <b-button size="sm" variant="primary" @click="modalClassName()">Nuevo Salón</b-button>
        </b-col>

        <b-col cols="1" v-show="select.classroomSelected">
          <b-button
            size="sm"
            variant="warning"
            @click="updateClassroom()">
            <i
            class="fas fa-edit classroom__origin__update"
            aria-hidden="true"></i>
          </b-button>
        </b-col>

        <b-col cols="1" v-show="select.classroomSelected">
          <b-button
            size="sm"
            variant="danger"
            @click="removeClassroom()">
            <i
            class="fas fa-trash-alt"
            aria-hidden="true"></i>
          </b-button>
        </b-col>

        <b-col cols="1" v-show="select.classroomSelected">
          <b-button
            size="sm"
            variant="dark"
            id="popoverNotes"
            @click="modalNotes()">
            <i
            class="fas fa-sticky-note"
            aria-hidden="true"></i>
          </b-button>

          <b-popover
            v-if="renderNotes"
            target="popoverNotes"
            triggers="hover focus"
            placement="bottom">
            <template slot="title">{{classroomName}}</template>
            <p>{{renderNotes}}</p>
          </b-popover>
        </b-col>

        <b-col cols="1"></b-col>
      </b-row>

      <b-row class="">
        <b-col></b-col>
        <b-col cols="10">
          <b-form-select v-model="select.classroomSelected" :options="select.options" class="mb-3" size="sm" />
        </b-col>
        <b-col></b-col>
      </b-row>
    </b-container>


    <b-list-group>
      <b-list-group-item variant="warning" class="flex-column align-items-start mb-1" v-for="item in list" :key="item.name">
        <div class="d-flex w-100 justify-content-between">
          <b-button @click="openCollapse(item.idStudent)" variant="link" class="classroom__list__title">
            <h5>{{item.name}}</h5>
          </b-button>
          <small>
            <b-button size="sm" variant="danger" @click="removeStudent(item)">
              Sacar
            </b-button>
          </small>
        </div>

        <b-collapse :id="item.idStudent" :ref="`collapse-${item.idStudent}`">
          <b-card bg-variant="light">
            <small><b>id</b>: {{item.idStudent}}</small><br>
            <small><b>Matrícula</b>: {{item.enrollment}}</small><br>
            <small><b>Ingreso</b>: {{item.admission}}</small>
          </b-card>
        </b-collapse>

      </b-list-group-item>
    </b-list-group>
  </div>
</template>

<script>
import ModalClassName from "./ClassName";
import ModalClassroomDelete from './ClassroomDelete'
import ModalClassroomUpdate from './ClassroomUpdate'
import ModalNotes from "./Notes";
import ModalRemoveStudent from './ListRemoveStudent'

import { appFirebase } from "@/config/firebase";

export default {
  components: {
    ModalClassName,
    ModalClassroomDelete,
    ModalClassroomUpdate,
    ModalNotes,
    ModalRemoveStudent
  },

  created() {
    appFirebase
      .database()
      .ref("/classroom")
      .on("value", data => {
        const collection = data.val();

        const options = [{ value: null, text: "Selecciona un salón" }];

        if (collection) {
          const keysCollection = Object.keys(collection);

          for (const option of keysCollection) {
            options.push({
              value: option,
              text: collection[option].name,
              notes: collection[option].notes ? collection[option].notes : null
            });
          }
        }

        this.select.options = options;
      });
  },

  data() {
    return {
      renderNotes: null,
      select: {
        classroomSelected: null,
        options: []
      },
      list: []
    };
  },

  watch: {
    select: {
      handler(val, oldVal) {
        this.renderNotes = null;

        this.renderList(val.classroomSelected);

        this.$eventBus.$emit(
          "[TableClassroom]:moveClassroom",
          val.classroomSelected
        );

        for (const option of val.options) {
          if (option.value === val.classroomSelected)
            if (option.notes) this.renderNotes = option.notes;
        }
      },

      deep: true
    }
  },

  computed : {
    classroomName () {
      for (const item of this.select.options)
        if (this.select.classroomSelected === item.value) return item.text
    }
  },

  methods: {
    resetSubject() {
      this.renderNotes = null;
      this.select.classroomSelected = null;
      this.list = [];
    },

    openCollapse(id) {
      const collapse = this.$refs[`collapse-${id}`][0];

      if (collapse.show) collapse.show = false;
      else collapse.show = true;
    },

    modalClassName() {
      this.$eventBus.$emit("[ClassName]:stateModal");
    },

    modalNotes() {
      let classroom = {
        id: this.select.classroomSelected
      };

      for (const option of this.select.options) {
        if (option.value === this.select.classroomSelected)
          classroom["name"] = option.text;
      }

      this.$eventBus.$emit("[Notes]:stateModal", {
        state: true,
        classroom: classroom
      });
    },

    renderList(idClassroom) {
      new Promise((resolve, reject) => {
        appFirebase
          .database()
          .ref(`/classroom/${idClassroom}/students`)
          .orderByChild("addmission")
          .on("value", data => {
            this.list = [];

            if (data.val() === "PENDING")
              reject(new Error("No hay alumnos en este salón"));
            else resolve(data.val());
          });
      })
        .then(students => {
          if (students) {
            const items = [];

            for (const student of Object.keys(students)) {
              appFirebase
                .database()
                .ref(`/ranks/${student}`)
                .on("value", data => {
                  const collectionRanks = data.val();

                  items.push({
                    id: student,
                    admission: students[student].admission,
                    name: collectionRanks.name
                  });
                });
            }

            return items;
          }
        })
        .then(items => {
          if (items) {
            const newItems = items.map(item => {
              let collection = {};

              appFirebase
                .database()
                .ref(`/student/${item.id}`)
                .on("value", data => {
                  collection = {
                    classroom: idClassroom,
                    idStudent: item.id,
                    admission: item.admission,
                    name: item.name,
                    enrollment: data.val().enrollment
                  };
                });

              return collection;
            });

            const newItemsSort = newItems.sort((a, b) => {
              return a.name < b.name;
            });

            this.list = newItemsSort;
          }
        })
        .catch(error => {
          throw error.message;
        });
    },

    removeStudent(item) {
      this.$eventBus.$emit('[ModalListRemoveStudent]:stateModal', {
        student: item,
        classroomName: this.classroomName,
        state: true
      })
    },

    updateClassroom () {
      let classroom = {
        id: this.select.classroomSelected
      };

      for (const option of this.select.options) {
        if (option.value === this.select.classroomSelected)
          classroom["name"] = option.text;
      }

      this.$eventBus.$emit("[ModalClassroomUpdate]:stateModal", {
        state: true,
        classroom: classroom
      });
    },

    removeClassroom () {
      let classroom = {
        id: this.select.classroomSelected
      };

      for (const option of this.select.options) {
        if (option.value === this.select.classroomSelected)
          classroom["name"] = option.text;
      }

      this.$eventBus.$emit("[ModalClassroomDelete]:stateModal", {
        state: true,
        classroom: classroom
      });
    }
  }
};
</script>


<style lang="sass" scoped>
  @import '../../../assets/sass/main.sass'

  .classroom
    +ele('origin')
      +ele('update')
        font-size: 1.2em

        color: white

    +ele('list')

      +ele('notes')
        font-size: 13px

      +ele('title')
        color: map-get($color-bootstrap, b1)
</style>

