<template>
  <b-modal
    id="modalNotes"
    ref="modalNotes"
    :title='`Notas del Salón "${classroom.name}"`'
    @ok="okNotes"
    @shown="clearNotes">

    <b-row v-show="action === 'update'">
      <b-col cols="12">
        <b-navbar
          class="mb-3 classroom__notes__navbar classroom__notes__navbar--center">
          <b-navbar-nav>

            <b-nav-item href="#">
              <b-button
                :disabled="!notes.value"
                variant="link"
                class="classroom__notes__navbar__button"
                @click="deleteNotes()">
                <i
                  class="fas fa-trash-alt classroom__notes__navbar__button__icon classroom__notes__navbar__button__icon--hover"
                  aria-hidden="true"></i>
              </b-button>
            </b-nav-item>

          </b-navbar-nav>
        </b-navbar>
      </b-col>
    </b-row>

    <form @submit.stop.prevent="okNotes">
      <b-form-group>
        <b-form-textarea id="notes"
          v-model="notes.value"
          :rows="3"
          :max-rows="6"
          :state="notes.state"
          placeholder="Ingresa alguna nota para este salón"
          aria-describedby="errorNotes">
        </b-form-textarea>
        <b-form-invalid-feedback id="errorNotes" >{{notes.error}}</b-form-invalid-feedback>
      </b-form-group>
    </form>
  </b-modal>
</template>

<script>
import { ValidatorMethods } from "@/tools/validator";

import { appFirebase } from "@/config/firebase";

export default {
  mounted() {
    this.$eventBus.$on("[Notes]:stateModal", data => {
      if (data.classroom) {
        this.action = 'new'

        this.classroom.id = data.classroom.id;
        this.classroom.name = data.classroom.name;
      }

      appFirebase
        .database()
        .ref(`/classroom/${this.classroom.id}`)
        .on('value', data => {
          const collection = data.val()

          if (collection) {
            if (collection.notes) {
              this.action = 'update'

              this.notes.value = collection.notes
            }
          }
        })

      if (data.state) this.$refs.modalNotes.show();
      else this.$refs.modalNotes.hide();
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[Notes]:stateModal");
  },

  data() {
    return {
      action: 'new',

      classroom: {
        id: null,
        name: null
      },

      notes: {
        value: "",
        state: null,
        error: null,
        validator: {
          type: "text",
          min: 3,
          max: 300
        }
      }
    };
  },

  methods: {
    classroomValidator(mode, value, type, min, max) {
      let val = ValidatorMethods[mode](value, type, min, max);

      return val;
    },

    okNotes(evt) {
      const { validator } = this.notes;

      evt.preventDefault();

      const val = this.classroomValidator(
        "basicMainOptionalEmpty",
        this.notes.value,
        validator.type,
        validator.min,
        validator.max
      );

      if (val) {
        this.notes.error = val;
        this.notes.state = false;
      } else {
        this.notes.error = null;
        this.notes.state = true;

        this.sendNotes();
      }
    },

    clearNotes() {
      if (this.action === 'new') this.notes.value = "";
      this.notes.error = null;
      this.notes.state = null;
    },

    async sendNotes() {
      if (this.classroom.id) {
        try {
          const response = await appFirebase
            .database()
            .ref(`/classroom/${this.classroom.id}`)
            .update({
              notes: this.notes.value
            });

          this.$refs.modalNotes.hide();
        } catch (error) {
          console.error(error);
          switch (error.code) {
            default:
              this.notes.error =
                "Error del sistema... No se pudo crear la nota para el salón";
              this.notes.state = false;
          }
        }
      }
    },

    async deleteNotes() {
      try {
        const response = await appFirebase
          .database()
          .ref(`/classroom/${this.classroom.id}/notes`)
          .remove();

        this.action = "new";
        this.clearNotes();

        this.$refs.modalNotes.hide()
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>

<style lang="sass">
  @import '../../../assets/sass/main.sass'

  .classroom
    +ele('notes')
      +ele('navbar')
        padding: 0 1em

        +mod('center')
          display: flex
          justify-content: flex-end

          background-color: lighten(map-get($color-gray, g1), 60)

        +ele('button')
          padding: 0

          +ele('icon')
            font-size: 20px

            color: map-get($color-gray, g1)

            +mod('active')
              color: map-get($color-red, r1)

            +mod('hover')
              &:hover
                color: map-get($color-red, r1)
</style>
