<template>
  <div>

    <b-row>
      <b-col md="12" class="my-3">
        <b-form-group horizontal label="Filtro" class="mb-0 classroom__filter">
          <b-input-group>
            <b-form-input class="classroom__filter__input" v-model="filter" placeholder="Buscar..." />
            <b-input-group-append>
              <b-btn class="classroom__filter__button" variant="info" :disabled="!filter" @click="filter = ''">Limpiar</b-btn>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>
    </b-row>

    <b-alert :show="alert.dismissCountDown"
      dismissible
      variant="warning"
      @dismissed="alert.dismissCountDown=0"
      @dismiss-count-down="countDownChanged">
      <p>{{alert.message}}</p>
      <b-progress variant="warning"
        :max="alert.dismissSecs"
        :value="alert.dismissCountDown"
        height="4px">
      </b-progress>
    </b-alert>

    <b-table
      striped
      :items="items"
      :fields="fields"
      :filter="filter"
      :small="smallTable"
      class="classroom__table">

      <template slot="acciones" slot-scope="row">
        <b-button size="sm" @click.stop="row.toggleDetails" class="mr-2 classroom__table__actions">
          {{ row.detailsShowing ? 'Ocultar': 'Mostrar' }} Detalles
        </b-button>
        <b-button size="sm" @click="moveStudent(row)" class="mr-2 classroom__table__actions"
        :class="{'classroom__table__actions--icon': moveClassroom}">
          <i class="fas fa-plus"></i>
        </b-button>
      </template>

      <template slot="row-details" slot-scope="row">
        <b-card>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>Id:</b></b-col>
            <b-col>{{ row.item.id }}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>Email:</b></b-col>
            <b-col>{{ row.item.email }}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>Rango:</b></b-col>
            <b-col>{{ row.item.rank }}</b-col>
          </b-row>
        </b-card>
      </template>

    </b-table>

  </div>
</template>

<script>
import { appFirebase } from "@/config/firebase";

export default {
  created() {
    appFirebase
      .database()
      .ref("/student")
      .orderByKey()
      .on("value", data => {
        const collectionStudent = data.val();

        const items = [];

        for (const item of Object.keys(collectionStudent)) {
          const rawCollectionStudent = {};
          rawCollectionStudent[item] = collectionStudent[item];

          appFirebase
            .database()
            .ref(`/ranks/${item}`)
            .on("value", data => {
              const collectionRanks = data.val();

              items.push({
                collection: rawCollectionStudent,
                id: item,
                nombre: collectionRanks.name,
                email: collectionRanks.email,
                rank: collectionRanks.rank,
                matricula: collectionStudent[item].enrollment
              });
            });
        }

        this.items = items;
      });
  },

  mounted() {
    this.$eventBus.$on(
      "[TableClassroom]:moveClassroom",
      classroom => (this.moveClassroom = classroom)
    );
  },

  beforeDestroy() {
    this.$eventBus.$off("[TableClassroom]:moveClassroom");
  },

  data() {
    return {
      moveClassroom: null,

      smallTable: false,

      fields: [
        { key: "nombre", label: "Nombre", sortable: true },
        { key: "matricula", label: "Matricula", sortable: true },
        { key: "acciones", label: "Acciones" }
      ],
      items: [],
      filter: null,
      sortBy: null,
      sortDesc: false,
      noClose: true,

      alert: {
        dismissSecs: 5,
        dismissCountDown: 0,
        showDismissibleAlert: false,
        message: null
      }
    };
  },

  methods: {
    countDownChanged(dismissCountDown) {
      this.alert.dismissCountDown = dismissCountDown;
    },

    async moveStudent(data) {
      const collection = data.item;

      if (this.moveClassroom) {
        try {
          const currentDate = new Date()
            .toJSON()
            .slice(0, 10)
            .replace(/-/g, "/");

          const response = await appFirebase
            .database()
            .ref(`/classroom/${this.moveClassroom}/students/${collection.id}`)
            .transaction(currentData => {
              if (currentData === null) {
                return {
                  admission: currentDate
                };
              } else {
                this.alert.message = `El estudiante ${
                  collection.nombre
                } ya ha ingresado a este salón en la fecha ${
                  currentData.admission
                }`;

                this.alert.dismissCountDown = this.alert.dismissSecs;
                return;
              }
            });
        } catch (error) {
          console.error(error);
        }
      } else {
        this.alert.message = `Selecciona algún salón creado y después agrega tu estudiante requerido`;

        this.alert.dismissCountDown = this.alert.dismissSecs;
      }
    }
  }
};
</script>

<style lang="sass" scoped>
  @import '../../../assets/sass/main.sass'

  .classroom
    +ele('table')
      font-size: 13px

      +ele('actions')
        width: auto;

        margin: 0

        font-size: 1.1em

        box-shadow: 0 0 0 0.1rem transparent

        background: transparent
        color: map-get($color-gray, g1)

        &:active
          box-shadow: 0 0 0 0.1rem transparent !important;

          background: transparent !important
          color: map-get($color-gray, g1) !important

        +mod('icon')
          &:hover
            border-color: map-get($color-green, g1)

            background-color: map-get($color-green, g1)
            color: white


    +ele('filter')
      font-size: 13px

      +ele('input')
        font-size: 13px

      +ele('button')
        font-size: 13px
</style>

