<template>
  <div>
    <b-modal
      id="modalAgenda"
      ref="modalAgenda"
      centered
      size="lg"
      :title='`Temario Materia "${subject.name}"`'
      :ok-only=true
      ok-title="Cancelar"
      ok-variant="secondary"
      :no-close-on-backdrop=true
      @ok="okSubmit()"
      @shown="clearAgenda('new')">

      <b-row>
        <b-col cols="12">
          <b-navbar
            class="mb-3 subject__agenda__navbar subject__agenda__navbar--center">
            <b-navbar-nav>

              <b-nav-item href="#">
                <b-button
                  variant="link"
                  class="subject__agenda__navbar__button mr-2"
                  @click="titleAgenda()">
                  <i
                    class="fas fa-plus subject__agenda__navbar__button__icon subject__agenda__navbar__button__icon--hover"
                    :class="{'subject__agenda__navbar__button__icon--active': action === 'new'}"
                    aria-hidden="true"></i>
                </b-button>

                <b-button
                  :disabled="action === 'new'"
                  variant="link"
                  class="subject__agenda__navbar__button mr-2"
                  @click="action = 'update'">
                  <i
                    class="fas fa-edit subject__agenda__navbar__button__icon"
                    :class="{'subject__agenda__navbar__button__icon--active': action === 'update' || action === 'addChild'}"
                    aria-hidden="true"></i>
                </b-button>

                <!-- <b-button
                  :disabled="!classroom.value"
                  variant="link"
                  class="subject__classroom__navbar__button"
                  @click="deleteClassroom()">
                  <i
                    class="fas fa-trash-alt subject__classroom__navbar__button__icon subject__classroom__navbar__button__icon--hover"
                    aria-hidden="true"></i>
                </b-button> -->
              </b-nav-item>

            </b-navbar-nav>
          </b-navbar>
        </b-col>
      </b-row>
      <!-- <pre>
        {{$data.agenda}}
      </pre> -->
      <b-container fluid="">
        <b-row align-v="center">
          <b-col cols="4" class="subject__agenda__tree">
            <h6>Temario</h6>

            <div class="subject__agenda__tree__ol">
              <!-- Nivel 1 -->
              <div
                class="mb-1 subject__agenda__tree__ol__li"
                v-for="item in agenda"
                :key="item.title">
                <div
                  class="subject__agenda__tree__ol__li__group"
                  @click="titleAgenda(item.order, item.title)">
                  <span class="subject__agenda__tree__ol__li__group__number">{{item.order}}</span>
                  <span class="subject__agenda__tree__ol__li__group__text">{{item.title}}</span>
                </div>

                <!-- Nivel 2 -->
                <div
                  class="mb-1 subject__agenda__tree__ol__li subject__agenda__tree__ol__li__group--child"
                  v-for="item2 in item.child"
                  :key="item2.title">
                  <div
                    class="subject__agenda__tree__ol__li__group"
                    @click="titleAgenda(item2.order, item2.title)">
                    <span class="subject__agenda__tree__ol__li__group__number">{{item2.order}}</span>
                    <span class="subject__agenda__tree__ol__li__group__text">{{item2.title}}</span>
                  </div>

                  <!-- Nivel 3 -->
                  <div
                    class="mb-1 subject__agenda__tree__ol__li subject__agenda__tree__ol__li__group--child"
                    v-for="item3 in item2.child"
                    :key="item3.title">
                    <div
                      class="subject__agenda__tree__ol__li__group"
                      @click="titleAgenda(item3.order, item3.title)">
                      <span class="subject__agenda__tree__ol__li__group__number">{{item3.order}}</span>
                      <span class="subject__agenda__tree__ol__li__group__text">{{item3.title}}</span>
                    </div>

                    <!-- Nivel 4 -->
                    <div
                      class="mb-1 subject__agenda__tree__ol__li subject__agenda__tree__ol__li__group--child"
                      v-for="item4 in item3.child"
                      :key="item4.title">
                      <div
                        class="subject__agenda__tree__ol__li__group"
                        @click="titleAgenda(item4.order, item4.title)">
                        <span class="subject__agenda__tree__ol__li__group__number">{{item4.order}}</span>
                        <span class="subject__agenda__tree__ol__li__group__text">{{item4.title}}</span>
                      </div>

                      <!-- Nivel 5 -->
                      <div
                        class="mb-1 subject__agenda__tree__ol__li subject__agenda__tree__ol__li__group--child"
                        v-for="item5 in item4.child"
                        :key="item5.title">
                        <div
                          class="subject__agenda__tree__ol__li__group"
                          @click="titleAgenda(item5.order, item5.title)">
                          <span class="subject__agenda__tree__ol__li__group__number">{{item5.order}}</span>
                          <span class="subject__agenda__tree__ol__li__group__text">{{item5.title}}</span>
                        </div>


                      </div>

                    </div>

                  </div>

                </div>

              </div>

            </div>
          </b-col>

          <b-col cols="8">
            <b-row
              align-v="center"
              v-show="action === 'update' || action === 'addChild' || action === 'delete'">
              <b-col cols="1" class="mb-3">
                <b-button
                  size="sm"
                  variant="primary"
                  @click="addChild()">
                    <i class="fas fa-sitemap"></i>
                </b-button>
              </b-col>

              <b-col cols="1" class="mb-3">
                <b-button
                  size="sm"
                  variant="danger"
                  @click="action = 'delete'">
                    <i class="fas fa-trash-alt"></i>
                </b-button>
              </b-col>

              <b-col cols="10" v-show="action === 'addChild'">
                <b-alert show>
                  {{this.title.oldValue[0]}}
                  {{this.title.oldValue[1]}}
                </b-alert>
              </b-col>
            </b-row>

            <b-form
              v-show="action === 'new' || action === 'update' || action === 'addChild'"
              inline
              class="mb-3"
              @submit.stop.prevent="okSubmit">
              <b-form-group class="subject__agenda__form__group">
                <b-form-input
                  id="title"
                  type="text"
                  size="sm"
                  class="subject__agenda__form__group__input"
                  v-model=title.value
                  :state=title.state
                  placeholder="Ingresa el título de tu tema"
                  aria-describedby="errorTitle">
                </b-form-input>
                <b-form-invalid-feedback id="errorTitle" >{{title.error}}</b-form-invalid-feedback>
              </b-form-group>

              <div class="text-center ml-3">
                <b-button
                  size="sm"
                  type="submit" :variant="action === 'new' ? 'success' : 'warning'">
                    {{textSendButton}}
                </b-button>
              </div>
            </b-form>

            <b-alert :show="alert.dismissCountDown"
              dismissible
              :variant="alert.variant"
              @dismissed="alert.dismissCountDown=0"
              @dismiss-count-down="countDownChanged">
              <p>{{alert.message}}</p>
              <!-- <b-progress :variant="alert.variant"
                :max="alert.dismissSecs"
                :value="alert.dismissCountDown"
                height="4px">
              </b-progress> -->
            </b-alert>

            <b-alert :show="action === 'delete'" variant="light" class="text-center">
              <p class="text-danger">
                <b>¿Deseas eliminar el tema "{{title.oldValue[1]}}"?</b>... si lo haces eliminarás por completo todos sus temas hijos, las notas, las evaluaciones y en fin toda la gestión que engloba las funcionalidades de este tema... <b>¡Jamás podrás recuperarlo!</b>
              </p>
              <b-button
                size="sm"
                variant="danger"
                @click="deleteAgenda()">
                Sí deseo elimnarlo
              </b-button>
            </b-alert>
          </b-col>
        </b-row>
      </b-container>
    </b-modal>
  </div>
</template>

<script>
import { Validator, ValidatorMethods } from "@/tools/validator";

import { appFirebase } from "@/config/firebase";

import { RenderAgenda } from '../mixins/RenderAgenda.js'
import { TreeAgenda } from '../mixins/TreeAgenda.js'

export default {
  mixins: [RenderAgenda, TreeAgenda],

  mounted() {
    this.$eventBus.$on("[ModalAgenda]:stateModal", data => {
      if (data.subject) {
        this.subject.id = data.subject.id;
        this.subject.name = data.subject.name;
      }

      this.renderAgenda(null, this.subject.id)

      if (data.state) this.$refs.modalAgenda.show();
      else this.$refs.modalAgenda.hide();
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[ModalAgenda]:stateModal");
  },

  data() {
    return {
      action: "new",

      limitTree: 5,

      subject: {
        id: null,
        name: null
      },

      title: {
        value: "",
        oldValue: [],
        state: null,
        error: null,
        validator: {
          type: "text",
          min: 3,
          max: 255
        }
      },

      alert: {
        dismissSecs: 5,
        dismissCountDown: 0,
        showDismissibleAlert: false,
        message: null,
        variant: null
      }
    };
  },

  computed: {
    textSendButton() {
      if (this.action === "new") return "Enviar";
      else if (this.action === "update") return "Actualizar";
      else if (this.action === "addChild") return "Añadir";
    }
  },

  methods: {
    countDownChanged(dismissCountDown) {
      this.alert.dismissCountDown = dismissCountDown;
    },

    clearAgenda(action) {
      this.action = action;

      this.title.value = "";
      this.title.oldValue = [];
      this.title.state = null;
      this.title.error = null;

      if (!this.agenda) this.agenda = null;
    },

    titleAgenda(order = null, title = null) {
      if (title && order) {
        this.title.value = title;
        this.title.oldValue[0] = order;
        this.title.oldValue[1] = title;

        this.action = "update";
      } else this.clearAgenda("new");
    },

    addChild() {
      this.action = "addChild";

      this.title.value = "";
      this.title.state = null;
      this.title.error = null;
    },

    SubjectValidator(mode, value, type, min, max) {
      let val = ValidatorMethods[mode](value, type, min, max);

      if (!val && (this.action === "update" || this.action === "addChild")) {
        val = Validator.noEqual(value, {
          data: this.title.oldValue[1],
          message: "ya registrado con anterioridad"
        });
      }

      return val;
    },

    okSubmit(evt) {
      if (
        this.action === "new" ||
        this.action === "update" ||
        this.action === "addChild"
      ) {
        const { validator } = this.title;

        evt.preventDefault();

        const val = this.SubjectValidator(
          "basicMain",
          this.title.value,
          validator.type,
          validator.min,
          validator.max
        );

        if (val) {
          this.title.error = val;
          this.title.state = false;
        } else {
          this.title.error = null;
          this.title.state = true;

          if (this.action === "new") this.newAgenda();
          else if (this.action === "update") this.updateAgenda();
          else if (this.action === "addChild") this.addChildAgenda();
        }
      }
    },

    async newAgenda() {
      try {
        new Promise(resolve => {
          const a = appFirebase
            .database()
            .ref(`/subject/${this.subject.id}/agenda`)
            .on("value", data => {
              const collection = data.val();

              if (collection) {
                const collectionSort = Object.keys(collection).sort((a, b) => {
                  return collection[a].order - collection[b].order;
                });

                const lastAgenda = collection[collectionSort.pop()];

                resolve(lastAgenda.order);
              } else resolve(0);
            });
        }).then(async lastOrder => {
          const response = await appFirebase
            .database()
            .ref(`/subject/${this.subject.id}/agenda/${this.title.value}`)
            .transaction(
              currentData => {
                if (!currentData) {
                  return {
                    order: lastOrder + 1
                  };
                }
                return;
              },
              (error, committed, snapshot) => {
                if (error) throw error.message;
                else if (!committed) {
                  this.alert.variant = "warning";

                  this.alert.message = `El tema "${
                    this.title.value
                  }" ya existe en tu temario.`;

                  this.alert.dismissCountDown = this.alert.dismissSecs;
                } else {
                  this.alert.variant = "success";

                  this.alert.message = `Añadido al temario "${
                    this.title.value
                  }"`;

                  this.alert.dismissCountDown = this.alert.dismissSecs;
                }

                this.clearAgenda("new");
              }
            );
        });
      } catch (error) {
        console.error(error);
      }
    },

    async updateAgenda() {
      try {
        const tree = this.getAgenda(
          this.title.oldValue[1],
          this.agenda,
          `/subject/${this.subject.id}/agenda/`,
          1)

        new Promise(resolve => {
          appFirebase
            .database()
            .ref(tree)
            .once('value', data => {
              const collection = data.val()

              if (collection) resolve(collection)
              else resolve(null)
            })
        })
          .then(async collection => {
            const response = await appFirebase
              .database()
              .ref(tree)
              .remove();

            return collection;
          })
          .then(async collection => {
            const treeSplit = tree.split('/')

            treeSplit.pop()
            treeSplit.pop()

            const newTree = treeSplit.toString().replace(/,/g, '/') + '/'

            const response = await appFirebase
              .database()
              .ref(`${newTree}${this.title.value}`)
              .set(collection)

            this.alert.variant = "warning";

            this.alert.message = `Tema actualizado... Consejo: Intenta no actualizar muchos campos, una alternativa es eliminarlos y crearlos desde cero`;

            this.alert.dismissCountDown = this.alert.dismissSecs;

            this.clearAgenda('new')
          })
      } catch (error) {
        console.error(error);
      }
    },

    // getAgenda(parent, mainAgenda, tree, level) {
    //   const defaultTree = tree

    //   if (level < 6) {

    //     for (const agenda of mainAgenda) {

    //       if (agenda.title === parent) {
    //         return tree + agenda.title + '/'
    //         break
    //       } else if (agenda.child) {
    //         const a = this.getAgenda(parent, agenda.child, tree += agenda.title + '/', level + 1)

    //         if (a !== undefined) return a
    //         else tree = defaultTree
    //       }
    //     }

    //   } else console.log('No hay más allá de 5')
    // },

    async addChildAgenda() {
      try {
        const tree = this.getAgenda(
          this.title.oldValue[1],
          this.agenda,
          `/subject/${this.subject.id}/agenda/`,
          1
        );

        let limitTreeSlice = []

        if (tree) {
          const limitTree = tree.split("/");

          limitTree.shift();
          limitTree.pop();

          limitTreeSlice = limitTree.slice(3);
        }


        if (
          limitTreeSlice.length > 0 &&
          limitTreeSlice.length < this.limitTree
        ) {
          // CONSEGUIR EL ORDER DEL HERMANO ANTERIOR

          new Promise(resolve => {
            appFirebase
              .database()
              .ref(tree)
              .on("value", data => {
                const collection = data.val();

                if (collection) {
                  const collectionSort = Object.keys(collection).sort(
                    (a, b) => {
                      if (collection[b].order && collection[a].order) {
                        const orderA = collection[a].order;

                        const orderAVal = parseInt(orderA.split(".").pop());
                        const orderB = collection[b].order;
                        const orderBVal = parseInt(orderB.split(".").pop());

                        return orderAVal - orderBVal;
                      }
                    }
                  );

                  const collectionFilter = collectionSort.filter(
                    key => key !== "order" && key !== 'homework'
                  );

                  if (collectionFilter.length) {
                    const lastAgenda = collection[collectionFilter.pop()];

                    const orderLastAgenda = lastAgenda.order;
                    resolve(orderLastAgenda);
                  } else resolve(-1);
                } else resolve(null);
              });
          }).then(async lastOrder => {
            let lastOrderFinal = null;

            if (lastOrder !== -1 && lastOrder !== null) {
              const splitLastOrder = lastOrder.split(".");
              splitLastOrder.splice(
                splitLastOrder.length - 1,
                1,
                parseInt(splitLastOrder.pop()) + 1
              );

              lastOrderFinal = splitLastOrder.toString().replace(/,/g, ".");
            }

            const response = await appFirebase
              .database()
              .ref(`${tree}${this.title.value}`)
              .transaction(
                currentData => {
                  if (!currentData) {
                    return {
                      order: lastOrderFinal
                        ? lastOrderFinal
                        : this.title.oldValue[0] + "." + 1
                    };
                  }
                  return;
                },
                (error, committed, snapshot) => {
                  if (error) throw error.message;
                  else if (!committed) {
                    this.alert.variant = "warning";
                    this.alert.message = `El tema "${
                      this.title.value
                    }" ya existe en tu temario.`;
                    this.alert.dismissCountDown = this.alert.dismissSecs;
                  } else {
                    this.alert.variant = "success";
                    this.alert.message = `Añadido al temario "${
                      this.title.value
                    }"`;
                    this.alert.dismissCountDown = this.alert.dismissSecs;
                  }
                  this.title.value = "";
                  this.title.state = null;
                  this.title.error = null;
                }
              );
          });
        } else {
          this.alert.variant = "warning";

          this.alert.message = `Ya has agotado el limite máximo del árbol... recuerda que solo puedes agregar "${
            this.limitTree
          } niveles por árbol"`;

          this.alert.dismissCountDown = this.alert.dismissSecs;
        }
      } catch (error) {
        console.error(error);
      }
    },

    async deleteAgenda () {
      try {
        const tree = this.getAgenda(
          this.title.oldValue[1],
          this.agenda,
          `/subject/${this.subject.id}/agenda/`,
          1)

        if (tree) {
          const response = await appFirebase
            .database()
            .ref(tree)
            .remove();

          this.alert.variant = "danger";

          this.alert.message = `Se ha eliminado por completo el tema "${this.title.oldValue[1]}... Ya no es posible recuperarlo :(`;

          this.alert.dismissCountDown = this.alert.dismissSecs;

          this.clearAgenda('new')
        }
      } catch (error) {
        console.error(error)
      }
    }
  }
};
</script>


<style lang="sass" scoped>
  @import '../../../assets/sass/main.sass'

  .subject
    +ele('agenda')

      +ele('tree')
        height: 200px

        overflow-y: auto
        overflow-x: auto

        +ele('ol')

          +ele('li')
            width: 100%

            display: flex
            flex-wrap: wrap

            +ele('group')
              width: 100%

              display: flex

              cursor: pointer;

              &:hover
                color: map-get($color-red, r1)

              +ele('number')
                margin-right: 1em

              +ele('text')
                white-space: nowrap

                display: inline-block

              +mod('child')
                margin-left: 1.5em

      +ele('form')

        +ele('group')
          width: 80%

          +ele('input')
            width: 100%

      +ele('navbar')
        padding: 0 1em

        +mod('center')
          display: flex
          justify-content: flex-end

          background-color: lighten(map-get($color-gray, g1), 60)

        +ele('button')
          padding: 0

          +ele('icon')
            font-size: 20px

            color: map-get($color-gray, g1)

            +mod('active')
              color: map-get($color-red, r1)

            +mod('hover')
              &:hover
                color: map-get($color-red, r1)
</style>

