<template>
  <div>
    <b-alert :show="alert.dismissCountDown"
      dismissible
      variant="warning"
      @dismissed="alert.dismissCountDown=0"
      @dismiss-count-down="countDownChanged">
      <p>{{alert.message}}</p>
      <b-progress variant="warning"
        :max="alert.dismissSecs"
        :value="alert.dismissCountDown"
        height="4px">
      </b-progress>
    </b-alert>

    <b-list-group>
      <b-list-group-item variant="warning" class="flex-column align-items-start mb-1" v-for="student in students" :key="student.id">
        <div class="d-flex w-100 justify-content-between">
          <b-button @click="openCollapse(student.id)" variant="link" class="classroom__students__title">
            <h5>{{student.name}}</h5>
          </b-button>
        </div>

        <b-collapse :id="student.id" :ref="`collapse-${student.id}`">
          <b-card bg-variant="light">
            <small><b>id</b>: {{student.id}}</small><br>
            <small><b>Nombre</b>: {{student.name}}</small><br>
            <small><b>Email</b>: {{student.email}}</small>
          </b-card>
        </b-collapse>
      </b-list-group-item>
    </b-list-group>
  </div>
</template>

<script>
import { appFirebase } from "@/config/firebase";

export default {
  mounted() {
    this.$eventBus.$on("[ModalClassroomStudents]:reset", () => {
      this.showList = false;
      this.classroom.value = null;
      this.classroom.options = [];

      this.students = [];

      this.$emit("icon", { name: "classroomStudents", state: false });
    });

    this.$eventBus.$on("[ModalClassroomStudents]:getStudents", classroom => {
      this.showList = !this.showList;

      if (this.showList) {
        this.$emit("icon", { name: "classroomStudents", state: true });

        this.classroom.value = classroom.value;
        this.classroom.options = classroom.options;

        this.getStudents();
      } else {
        this.$emit("icon", { name: "classroomStudents", state: false });

        this.classroom.value = null;
        this.classroom.options = [];

        this.students = [];
      }
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[ModalClassroomStudents]:getStudents");
    this.$eventBus.$off("[ModalClassroomStudents]:reset");
  },

  data() {
    return {
      showList: false,

      classroom: {
        value: null,
        options: []
      },

      students: [],

      alert: {
        dismissSecs: 5,
        dismissCountDown: 0,
        showDismissibleAlert: false,
        message: null
      }
    };
  },

  methods: {
    countDownChanged(dismissCountDown) {
      this.alert.dismissCountDown = dismissCountDown;
    },

    openCollapse(id) {
      const collapse = this.$refs[`collapse-${id}`][0];

      if (collapse.show) collapse.show = false;
      else collapse.show = true;
    },

    getStudents() {
      for (const option of this.classroom.options) {
        if (option.value === this.classroom.value) {
          if (option.students) {
            const idsStudents = Object.keys(option.students);
            if (idsStudents) {
              const students = [];

              for (const student of idsStudents) {
                appFirebase
                  .database()
                  .ref("/ranks")
                  .orderByKey()
                  .equalTo(student)
                  .on("value", data => {
                    const collection = data.val();

                    if (collection) {
                      for (const student of Object.keys(collection)) {
                        students.push({
                          id: student,
                          name: collection[student].name,
                          email: collection[student].email
                        });
                      }
                    }
                  });
              }

              if (students) {
                this.students = students;
              }
            }
            break;
          } else {
            this.alert.message = `No hay estudiantes en este salón`;

            this.alert.dismissCountDown = this.alert.dismissSecs;
          }
        }
      }
    }
  }
};
</script>

<style lang="sass">
  @import '../../../assets/sass/main.sass'

  .classroom
    +ele('students')

      +ele('title')
        color: map-get($color-bootstrap, b1)
</style>

