<template>
  <div>
    <b-modal
      id="modalClassroom"
      ref="modalClassroom"
      centered
      :title='`Agregar Salones "${subject.name}"`'
      @ok="okClassroom"
      @shown="clearClassroom">

      <b-row>
        <b-col cols="12">
          <b-navbar
            class="mb-3 subject__classroom__navbar subject__classroom__navbar--center">
            <b-navbar-nav>

              <b-nav-item href="#">
                <b-button
                  v-show="renderNotes"
                  variant="link"
                  class="subject__classroom__navbar__button mr-2"
                  id="popoverNotes">
                  <i
                    class="fas fa-sticky-note subject__classroom__navbar__button__icon subject__classroom__navbar__button__icon--hover"
                    aria-hidden="true"></i>
                </b-button>

                <b-popover
                  target="popoverNotes"
                  triggers="hover focus"
                  placement="left">
                  <template slot="title">{{classroomName}}</template>
                  <p>{{renderNotes}}</p>
                </b-popover>

                <b-button
                  :disabled="!classroom.value"
                  variant="link"
                  class="subject__classroom__navbar__button mr-2"
                  @click="showStudents()">
                  <i
                    class="fas fa-users subject__classroom__navbar__button__icon"
                    :class="{'subject__classroom__navbar__button__icon--active': icons.classroomStudents}"
                    aria-hidden="true"></i>
                </b-button>

                <b-button
                  :disabled="!classroom.value"
                  variant="link"
                  class="subject__classroom__navbar__button"
                  @click="noticeRemove = !noticeRemove">
                  <i
                    class="fas fa-trash-alt subject__classroom__navbar__button__icon subject__classroom__navbar__button__icon--hover"
                    aria-hidden="true"></i>
                </b-button>
              </b-nav-item>

            </b-navbar-nav>
          </b-navbar>
        </b-col>
      </b-row>

      <b-row v-show="noticeRemove" class="mb-3">
        <b-col cols="12">
          <b-card bg-variant="danger"
                  text-variant="white"
                  header="Advertencia"
                  class="text-center">
            <p class="card-text text-left">Al eliminar este salón estarás eliminado lo siguiente:</p>
            <ul class="card-text text-left">
              <li>
                <b>Todos los equipos formados para este salón en la sección de método de calificación del módulo de tareas</b>
              </li>
            </ul>
            <b-button
              size="sm"
              variant="light"
              class="subject__classroom__notice__button"
              @click="deleteClassroom()">
              Eliminar de todas formas
            </b-button>
          </b-card>
        </b-col>
      </b-row>

      <form @submit.stop.prevent="okClassroom">
        <b-form-group>
          <b-form-select
            size="sm"
            v-model="classroom.value" :options="classroom.options">
            <template slot="first">
              <option :value="null" disabled>Selecciona un salón...</option>
            </template>
          </b-form-select>
        </b-form-group>
      </form>

      <b-row>
        <b-col cols="12">
          <classroom-students @icon="stateIcons"></classroom-students>
        </b-col>
      </b-row>
    </b-modal>
  </div>
</template>

<script>
import ClassroomStudents from "./ClassroomStudents";

import { ValidatorMethods } from "@/tools/validator";

import { appFirebase } from "@/config/firebase";

import { RenderAgenda } from '../../Subject/mixins/RenderAgenda.js'
import { TreeHomework } from '../../Homework/mixins/TreeHomework.js'
import { TreeAgenda } from '../../Subject/mixins/TreeAgenda.js'

export default {
  components: {
    ClassroomStudents
  },

  mixins: [RenderAgenda, TreeAgenda, TreeHomework],

  mounted() {
    this.$eventBus.$on("[ModalClassroom]:stateModal", data => {
      if (data.subject) {
        this.subject.id = data.subject.id;
        this.subject.name = data.subject.name;
      }

      appFirebase
        .database()
        .ref("/classroom")
        .on("value", data => {
          this.classroom.value = null
          this.classroom.options = [];

          const collection = data.val();
          const options = [];
          if (collection) {
            for (const option of Object.keys(collection)) {
              options.push({
                value: option,
                text: collection[option].name,
                notes: collection[option].notes ? collection[option].notes : null,
                students: collection[option].students
                  ? collection[option].students
                  : null
              });
            }

            this.classroom.options = options;
          }
        });

      if (data.state) this.$refs.modalClassroom.show();
      else this.$refs.modalClassroom.hide();
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[ModalClassroom]:stateModal");
  },

  data() {
    return {
      noticeRemove: false,

      renderNotes: null,

      subject: {
        id: null,
        name: null
      },

      icons: {
        classroomStudents: false
      },

      classroom: {
        value: null,
        options: []
      }
    };
  },

  watch: {
    classroom: {
      handler(val, oldVal) {
        if (val.value) {
          for (const option of val.options) {
            if (val.value === option.value) {
              this.$eventBus.$emit("[ModalClassroomStudents]:reset");
              if (option.notes) {
                this.renderNotes = option.notes;
              } else this.renderNotes = null;
              break;
            }
          }
        }
      },

      deep: true
    }
  },

  computed : {
    classroomName () {
      for (const item of this.classroom.options)
        if (item.value === this.classroom.value) return item.text
    }
  },

  methods: {
    stateIcons(icon) {
      this.icons[icon.name] = icon.state;
    },

    clearClassroom() {
      this.noticeRemove = false
      this.classroom.value = null;
      this.renderNotes = null;
      this.$eventBus.$emit("[ModalClassroomStudents]:reset");
    },

    showStudents() {
      this.$eventBus.$emit(
        "[ModalClassroomStudents]:getStudents",
        this.classroom
      );
    },

    async deleteClassroom() {
      this.agenda = []
      this.treeHomework = []

      try {
        new Promise ((resolve, reject) => {
          // Aqui consigo toda la collección actual de todas las materías y la envio a la siguiente actividad. Si no hay materias, simplemente enviar a eliminar el salón (Enviar al catch) (Algo ilogico puesto que este módulo necesita de las materias para funcionar, pero bueno no esta de más)
          appFirebase
            .database()
            .ref('/subject')
            .once('value', data => {
              const collection = data.val()

              if (collection) resolve(collection)
              else reject(new Error('No existen materias, por lo tanto borrar sin más'))
            })
        })
          .then(collection => {
            // Aquí solo obtengo el temario de la matería seleccionada y la envio a la siguiente actividad siempre y cuando exista el temario; en caso de que no éxista el temario simplemente lo envio a eliminar el salón sin más (Enviar al catch)
            let agendasRaw = {}

            for (const subject of Object.keys(collection))
              if (this.subject.id === subject) {
                if (collection[subject].agenda) agendasRaw = collection[subject].agenda
              }

            if (Object.keys(agendasRaw).length) return agendasRaw
            else throw new Error('La máteria existe pero no contiene ningun temario, por lo tanto borrar sin más')
          })
          .then(agendasRaw => {
            // Aqui simplemente cambio el formato de las agendas de la actividad anterior por un formato mucho mejor para trabajar con los filtros del árbol tree. Se envia sin restricción a la siguiente actividad. Los datos obtenidos se guardan en la variable this.agenda del archivo RenderAgenda.js

            let agendasArray = []

            this.collectionAgenda(agendasRaw)

            return null
          })
          .then(() => {
            // Aqui comienzo a filtrar todos aquellos temarios que contengan el atributo homework y lo envio a la siguiente condición; en caso de que no exista el atributo homework entonces enviar a eliminar el salón sin más (enviar al catch). La siguiente condicion valida si existe el atributo qualification y si lo tiene entonces lo envia a la tercera validación, en caso contrario lo enviará a eliminar el salón sin más (enviar al catch). Por último la tercera validación comprueba si el atributo qualification es diferente a individual para así enviarlo a la siguiente actividad, en caso contrario lo enviará a eliminar el salón sin más (enviar al catch)
            this.getHomework(
              this.agenda,
              `/subject/${this.subject.id}/agenda/`,
              1)

            if (this.treeHomework.length) {
              const homeworks = []

              for (const treeHomework of this.treeHomework) {
                appFirebase
                  .database()
                  .ref(`${treeHomework}homework`)
                  .once('value', data => {
                    const collection = data.val()

                    if (collection) {
                      for (const keyHomework of Object.keys(collection)) {
                        if (collection[keyHomework].qualification) {
                          homeworks.push({
                            tree: `${treeHomework}homework/${keyHomework}/qualification/`,
                            collection: collection[keyHomework].qualification
                          })
                        }
                      }
                    }
                  })
              }

              if (homeworks.length) {
                const qualifications = homeworks.filter(qualification => {
                  const keys = Object.keys(qualification.collection)
                  if (keys.includes(this.classroom.value)) return qualification
                })

                if (qualifications.length) {
                  return qualifications
                } else throw new Error('Todos los métodos de qualification son individual')
              } else throw new Error('No existe ningún atributo qualification en algun temario')

            } else throw new Error('No existe ningún atributo homework en algun temario')
          })
          .then(qualifications => {
            for (const qualification of qualifications) {
              appFirebase
                .database()
                .ref(`${qualification.tree}${this.classroom.value}`)
                .remove()
            }

            appFirebase
              .database()
              .ref(`/subject/${this.subject.id}/classroom/${this.classroom.value}`)
              .remove();

            /**
             *  TODO: Si se desea actualizar se deberá usar vuex en vez de un evenBus
             *  this.$eventBus.$emit('[HomeworkName]:touchHomeworkValue')
            */

            this.$refs.modalClassroom.hide();
          })
          .catch(async error => {
            console.error(error)

            const response = await appFirebase
              .database()
              .ref(`/subject/${this.subject.id}/classroom/${this.classroom.value}`)
              .remove();

            this.$refs.modalClassroom.hide();
          })
      } catch (error) {
        console.error(error)
      }
    },

    async okClassroom(evt) {
      evt.preventDefault();

      const classroom = {};
      classroom[this.classroom.value] = "Aggregate";

      try {
        const response = await appFirebase
          .database()
          .ref(`/subject/${this.subject.id}/classroom/${this.classroom.value}`)
          .update({
            data: "IGNORE"
          });

        this.$refs.modalClassroom.hide();
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>


<style lang="sass" scoped>
  @import '../../../assets/sass/main.sass'

  .subject
    +ele('classroom')
      +ele('notice')
        +ele('button')
          font-weight: bold

          color: map-get($color-red, r1)

      +ele('navbar')
        padding: 0 1em

        +mod('center')
          display: flex
          justify-content: flex-end

          background-color: lighten(map-get($color-gray, g1), 60)

        +ele('button')
          padding: 0

          +ele('icon')
            font-size: 20px

            color: map-get($color-gray, g1)

            +mod('active')
              color: map-get($color-red, r1)

            +mod('hover')
              &:hover
                color: map-get($color-red, r1)
</style>

