<template>
  <b-modal
    centered
    header-bg-variant="danger"
    header-text-variant="light"
    body-bg-variant="danger"
    footer-bg-variant="danger"
    id="modalName"
    ref="modalName"
    :title='`Eliminar materia "${subject.name}""`'
    @ok="okName">
    <b-alert show variant="light">
      <p class="text-danger">
        <b>¿Deseas eliminar esta matería?</b>... si lo haces eliminarás por completo los salones, las notas, los temarios y todo su contenido relacionado a ello... <b>¡Jamás podrás recuperarlo!</b>
      </p>
    </b-alert>
  </b-modal>
</template>

<script>
import { ValidatorMethods } from "@/tools/validator";

import { appFirebase } from "@/config/firebase";

export default {
  mounted() {
    this.$eventBus.$on("[ModalNameDelete]:stateModal", data => {
      if (data.subject) {
        this.subject.id = data.subject.id;
        this.subject.name = data.subject.name;
      }

      if (data.state) this.$refs.modalName.show();
      else this.$refs.modalName.hide();
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[ModalNameDelete]:stateModal");
  },

  data() {
    return {
      validate: false,

      subject: {
        id: null,
        name: null
      }
    };
  },

  methods: {
    SubjectValidator(mode, value, type, min, max) {
      let val = ValidatorMethods[mode](value, type, min, max);

      return val;
    },

    async okName(evt) {
      try {
        const response = await appFirebase
          .database()
          .ref(`/subject/${this.subject.id}`)
          .remove();

        this.$refs.modalName.hide();
        this.$emit("resetSubject", true);
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>

