<template>
  <b-modal
    id="modalName"
    ref="modalName"
    centered
    title="Nueva Matería"
    @ok="okName"
    @shown="clearName">
    <form @submit.stop.prevent="okName">
      <b-form-group>
        <b-form-input
          id="name"
          type="text"
          v-model=name.value
          required
          :state=name.state
          placeholder="Ingresa el nombre de tu matería"
          aria-describedby="errorName">
        </b-form-input>
        <b-form-invalid-feedback id="errorName" >{{name.error}}</b-form-invalid-feedback>
      </b-form-group>
    </form>
  </b-modal>
</template>

<script>
import { ValidatorMethods } from "@/tools/validator";

import { appFirebase } from "@/config/firebase";

export default {
  mounted() {
    this.$eventBus.$on("[ModalName]:stateModal", (state = true) => {
      if (state) this.$refs.modalName.show();
      else this.$refs.modalName.hide();
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[ModalName]:stateModal");
  },

  data() {
    return {
      validate: false,

      name: {
        value: "",
        state: null,
        error: null,
        validator: {
          type: "text",
          min: 3,
          max: 50
        }
      }
    };
  },

  methods: {
    SubjectValidator(mode, value, type, min, max) {
      let val = ValidatorMethods[mode](value, type, min, max);

      return val;
    },

    okName(evt) {
      const { validator } = this.name;

      evt.preventDefault();

      const val = this.SubjectValidator(
        "basicMain",
        this.name.value,
        validator.type,
        validator.min,
        validator.max
      );

      if (val) {
        this.name.error = val;
        this.name.state = false;

        this.validate = false;
      } else {
        this.name.error = null;
        this.name.state = true;

        this.validate = true;

        this.sendName();
      }
    },

    clearName() {
      this.name.value = "";
      this.name.error = null;
      this.name.state = null;
    },

    async sendName() {
      try {
        const response = await appFirebase
          .database()
          .ref(`/subject`)
          .push()
          .set({
            name: this.name.value,
            teacher: this.$store.getters.getId
          });
        this.$refs.modalName.hide();
      } catch (error) {
        console.error(error);
        switch (error.code) {
          default:
            this.name.error =
              "Error del sistema... No se pudo crear la matería";
            this.name.state = false;
        }
      }
    }
  }
};
</script>

