<template>
  <b-modal
    centered
    id="modalNotes"
    ref="modalNotes"
    :title='`Notas de la materia "${subject.name}"`'
    @ok="okNotes"
    @shown="clearNotes">

    <!-- <pre>
      {{$data}}
    </pre> -->

    <b-row v-show="action === 'update'">
      <b-col cols="12">
        <b-navbar
          class="mb-3 subject__notes__navbar subject__notes__navbar--center">
          <b-navbar-nav>

            <b-nav-item href="#">
              <b-button
                :disabled="!notes.value"
                variant="link"
                class="subject__notes__navbar__button"
                @click="deleteNotes()">
                <i
                  class="fas fa-trash-alt subject__notes__navbar__button__icon subject__notes__navbar__button__icon--hover"
                  aria-hidden="true"></i>
              </b-button>
            </b-nav-item>

          </b-navbar-nav>
        </b-navbar>
      </b-col>
    </b-row>

    <form @submit.stop.prevent="okNotes">
      <b-form-group>
        <b-form-textarea id="notes"
          v-model="notes.value"
          :rows="3"
          :max-rows="6"
          :state="notes.state"
          placeholder="Ingresa alguna nota para esta matería"
          aria-describedby="errorNotes">
        </b-form-textarea>
        <b-form-invalid-feedback id="errorNotes" >{{notes.error}}</b-form-invalid-feedback>
      </b-form-group>
    </form>
  </b-modal>
</template>

<script>
import { ValidatorMethods } from "@/tools/validator";

import { appFirebase } from "@/config/firebase";

export default {
  mounted() {
    this.$eventBus.$on("[ModalNotes]:stateModal", data => {
      if (data.subject) {
        this.action = "new";

        this.subject.id = data.subject.id;
        this.subject.name = data.subject.name;

        appFirebase
          .database()
          .ref(`/subject/${this.subject.id}`)
          .on("value", data => {
            const collection = data.val();

            if (collection) {
              if (collection.notes) {
                this.action = "update";

                this.notes.value = collection.notes;
              }
            }
          });
      }

      if (data.state) this.$refs.modalNotes.show();
      else this.$refs.modalNotes.hide();
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[ModalNotes]:stateModal");
  },

  data() {
    return {
      action: "new",

      subject: {
        id: null,
        name: null
      },

      notes: {
        value: '',
        state: null,
        error: null,
        validator: {
          type: "text",
          min: 3,
          max: 300
        }
      }
    };
  },

  methods: {
    SubjectValidator(mode, value, type, min, max) {
      let val = ValidatorMethods[mode](value, type, min, max);

      return val;
    },

    async deleteNotes() {
      try {
        const response = await appFirebase
          .database()
          .ref(`/subject/${this.subject.id}/notes`)
          .remove();

        this.action = "new";
        this.clearNotes();

        this.$refs.modalNotes.hide();
      } catch (error) {
        console.error(error);
      }
    },

    okNotes(evt) {
      const { validator } = this.notes;

      evt.preventDefault();

      const val = this.SubjectValidator(
        "basicMainOptionalEmpty",
        this.notes.value,
        validator.type,
        validator.min,
        validator.max
      );

      if (val) {
        this.notes.error = val;
        this.notes.state = false;
      } else {
        this.notes.error = null;
        this.notes.state = true;

        this.sendNotes();
      }
    },

    clearNotes() {
      if (this.action === "new") this.notes.value = '';
      this.notes.error = null;
      this.notes.state = null;
    },

    async sendNotes() {
      if (this.subject.id) {
        try {
          const response = await appFirebase
            .database()
            .ref(`/subject/${this.subject.id}`)
            .update({
              notes: this.notes.value
            });

          this.$refs.modalNotes.hide();
        } catch (error) {
          console.error(error);
          switch (error.code) {
            default:
              this.notes.error =
                "Error del sistema... No se pudo crear la nota para esta matería";
              this.notes.state = false;
          }
        }
      }
    }
  }
};
</script>

<style lang="sass">
  @import '../../../assets/sass/main.sass'

  .subject
    +ele('notes')
      +ele('navbar')
        padding: 0 1em

        +mod('center')
          display: flex
          justify-content: flex-end

          background-color: lighten(map-get($color-gray, g1), 60)

        +ele('button')
          padding: 0

          +ele('icon')
            font-size: 20px

            color: map-get($color-gray, g1)

            +mod('active')
              color: map-get($color-red, r1)

            +mod('hover')
              &:hover
                color: map-get($color-red, r1)
</style>
