<template>
  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h3 class="ranks__title mb-3">{{ranksTitle}}</h3>

        <table-ranks></table-ranks>
      </div>

      <div class="col-md-6">
        <list-ranks></list-ranks>
      </div>
    </div>
  </div>
</template>

<script>
import TableRanks from "./components/Table";
import ListRanks from "./components/List";
export default {
  components: {
    TableRanks,
    ListRanks
  },

  props: ["ranksTitle"]
};
</script>

<style lang="sass" scoped>
  @import '../../assets/sass/main.sass'

  .ranks
    +ele('title')
      text-transform: uppercase

      color: map-get($color-gray, g1)
</style>


