<template>
  <b-modal header-bg-variant="danger" header-text-variant="light" footer-bg-variant="danger" footer-text-variant="light" ref="modalDeleteSchool" :id="id" size="md" title="Eliminar colección" :no-close-on-backdrop="noClose">
    <b-container fluid>
      <b-row class="mb-2" v-for="item in theCollection" :key="item.label">
        <b-col cols="3" class="modal-delete__body__label">{{item.label}}</b-col>
        <b-col class="modal-delete__body__value">{{item.value}}</b-col>
      </b-row>
    </b-container>
    <div slot="modal-footer">
      <b-btn size="sm" class="float-right modal-delete__footer__button__delete" variant="outline-success" @click="removeCollection()">
        Eliminar
      </b-btn>

      <b-btn size="sm" class="float-right modal-delete__footer__button__cancel" variant="link" @click="closeModal()">
        Cancelar
      </b-btn>
    </div>
  </b-modal>
</template>

<script>
export default {
  props: ["id", "collection"],

  mounted() {
    this.$eventBus.$on("[ModalDelete]:showHide", value => {
      if (value) this.$refs.modalDeleteSchool.show();
      else this.$refs.modalDeleteSchool.hide();
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[ModalDelete]:showHide");
  },

  data() {
    return {
      noClose: true
    };
  },

  computed: {
    theCollection() {
      const newCollection = [];

      if (this.collection !== null) {
        for (const field of Object.keys(this.collection.beautiful)) {
          newCollection.push({
            label: field,
            value: this.collection.beautiful[field]
          });
        }
      }

      return newCollection;
    }
  },

  methods: {
    removeCollection() {
      const idCollection = Object.keys(this.collection.raw)[0];

      this.$eventBus.$emit("[School]:deleteCollection", idCollection);
    },

    closeModal() {
      this.$refs.modalDeleteSchool.hide();
    }
  }
};
</script>

<style scoped>
.modal-delete__body__header {
  margin-bottom: 1em;

  font-weight: bold;
}

.modal-delete__body__label {
  font-weight: bold;

  text-align: right;
  text-transform: capitalize;
}

.modal-delete__body__value {
  font-style: italic;
}

.modal-delete__footer__button__delete {
  border: solid 1px #ffff;

  color: #ffff;

  box-shadow: 0 0 0 0.1rem transparent !important;
}

.modal-delete__footer__button__delete:hover {
  border: solid 1px rgb(163, 25, 25);

  background: rgb(163, 25, 25);
}

.modal-delete__footer__button__delete:active {
  border: solid 1px transparent !important;

  background: transparent !important;

  box-shadow: 0 0 0 0.1rem transparent !important;
}

.modal-delete__footer__button__cancel {
  margin-right: 1em;

  color: #ffff;
}
</style>
