<template>
  <div>
    <b-nav pills class="menu-forms">
      <b-btn variant="link" v-if="createButton" @click="goCreate()"><i class="far fa-plus-square menu-forms__item"></i></b-btn>
      <b-btn v-b-modal="idTable" variant="link"><i class="far fa-list-alt menu-forms__item"></i></b-btn>
      <!-- <b-nav-item class="menu-forms__item" @click="showTable()"></b-nav-item> -->
    </b-nav>
  </div>
</template>

<script>
export default {
  props: ["idTable"],

  mounted() {
    this.$eventBus.$on("[MenuForms]:createButton", value => {
      this.createButton = value;
    });
  },

  beforeDestroy() {
    this.$eventBus.$off("[MenuForms]:createButton");
  },

  data() {
    return {
      createButton: false
    };
  },

  methods: {
    /**@deprecated */
    // showTable() {
    //   console.log("MOSTRAR TABLA");
    // }
    goCreate() {
      this.createButton = false;

      this.$router.push({ name: "SchoolCreate" });
    }
  }
};
</script>


<style scoped>
.menu-forms {
  --color-menu-forms__items: #dc3545;
  --color-menu-forms__items__icons-base: #eaeef2;
  --color-menu-forms__items__icons-hover: #f8f9fa;

  margin-bottom: 1em;

  justify-content: center;

  border-radius: 0px 0px 10px 10px;

  background-color: var(--color-menu-forms__items);
}

.menu-forms__item {
  font-size: 1.5em;

  color: var(--color-menu-forms__items__icons-base);
}

.menu-forms__item:hover {
  color: var(--color-menu-forms__items__icons-hover);
}
</style>

