<template>
  <div>
    <!-- <pre> {{$data}}</pre> -->
    <b-modal ref="modalSchool" :id="id" size="lg" title="Colección de escuelas" :no-close-on-backdrop="noClose">
      <b-row>
        <b-col md="6" class="my-1">
          <b-form-group horizontal label="Filtro" class="mb-0">
            <b-input-group>
              <b-form-input v-model="filter" placeholder="Buscar..." />
              <b-input-group-append>
                <b-btn :disabled="!filter" @click="filter = ''">Limpiar</b-btn>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>


      <b-table striped :items="items" :fields="fields" :filter="filter">
        <template slot="acciones" slot-scope="row">
          <b-button size="sm" @click.stop="row.toggleDetails" class="mr-2 module__actions__button-clear">
            {{ row.detailsShowing ? 'Ocultar': 'Mostrar' }} Detalles
          </b-button>
          <b-button size="sm" @click="sendData(row)" class="mr-2 module__actions__button-clear">
            <i class="far fa-edit module__actions__icon"></i>
          </b-button>
          <b-button size="sm" @click="removeData(row)" class="mr-2 module__actions__button-clear">
            <i class="far fa-trash-alt module__actions__icon"></i>
          </b-button>
        </template>
        <template slot="row-details" slot-scope="row">
          <b-card>
            <b-row class="mb-2">
              <b-col sm="3" class="text-sm-right"><b>Direccion:</b></b-col>
              <b-col>{{ row.item.direccion }}</b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col sm="3" class="text-sm-right"><b>Director:</b></b-col>
              <b-col>{{ row.item.director }}</b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col sm="3" class="text-sm-right"><b>Teléfono:</b></b-col>
              <b-col>{{ row.item.telefono }}</b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col sm="3" class="text-sm-right"><b>Email:</b></b-col>
              <b-col>{{ row.item.email }}</b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col sm="3" class="text-sm-right"><b>Web:</b></b-col>
              <b-col><a target="__blank" :href="row.item.web">{{ row.item.web }}</a></b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col sm="3" class="text-sm-right"><b>Notas:</b></b-col>
              <b-col>{{ row.item.notas }}</b-col>
            </b-row>
          </b-card>
        </template>
      </b-table>
    </b-modal>
  </div>
</template>

<script>
export default {
  props: ["database", "id"],

  data() {
    return {
      fields: [
        { key: "escuela", label: "escuela", sortable: true },
        { key: "estado", label: "estado", sortable: true },
        { key: "ciudad", label: "ciudad", sortable: true },
        { key: "acciones", label: "acciones" }
      ],
      items: [],
      filter: null,
      sortBy: null,
      sortDesc: false,
      noClose: true
    };
  },

  created() {
    this.database.on("value", data => {
      const collection = data.val();

      const items = [];

      for (const item of Object.keys(collection)) {
        const rawCollection = {};
        rawCollection[item] = collection[item];

        items.push({
          collection: rawCollection,
          direccion: collection[item].address,
          ciudad: collection[item].city,
          email: collection[item].email,
          escuela: collection[item].institute,
          notas: collection[item].notes,
          telefono: collection[item].phone,
          director: collection[item].principal,
          estado: collection[item].state,
          web: collection[item].web
        });
      }
      this.items = items;
    });
  },

  methods: {
    sendData(data) {
      this.$refs.modalSchool.hide();

      switch (this.$router.currentRoute.name) {
        case "SchoolCreate":
          this.$router.push({
            name: "SchoolUpdate",
            params: {
              schoolTitle: "Escuela: Editar",
              access: true,
              collection: data.item.collection
            }
          });
          break;
        case "SchoolUpdate":
          this.$eventBus.$emit("[SchoolCU]:collection", data.item.collection);
          break;
      }
    },

    removeData(data) {
      const id = Object.keys(data.item.collection)[0];

      const collection = {
        escuela: data.item.collection[id].institute,
        director: data.item.collection[id].principal,
        estado: data.item.collection[id].state,
        ciudad: data.item.collection[id].city,
        direccion: data.item.collection[id].address,
        telefono: data.item.collection[id].phone,
        email: data.item.collection[id].email,
        web: data.item.collection[id].web,
        notas: data.item.collection[id].notes
      };

      this.$emit("removeData", {
        raw: data.item.collection,
        beautiful: collection
      });
    }
  }
};
</script>

<style scoped>
.module__actions__button-clear {
  width: auto;

  /* padding: 0; */
  margin: 0 !important;
  margin-right: 0.5em !important;

  border: none;

  background: transparent;

  color: black;
}

.module__actions__button-clear:last-of-type {
  margin-right: 0 !important;
}

.module__actions__button-clear:active {
  background: transparent !important;

  border: none !important;
}

.module__actions__button-clear {
  box-shadow: 0 0 0 0.1rem rgba(108, 117, 125, 0.5);
}

.module__actions__icon {
  font-size: 1.5em;
  /* color: black; */
}
</style>
